[2016-12-15 19:21] computron opened #5 "Heading numbering in ipynb for predicting bandgaps is incorrect"
Section 3, the random forest model should have subnumber like 3e, 3f etc instead of resetting to 3a

[2016-12-15 19:38] saurabh02 commented on #5
Done

[2016-12-15 19:38] #5 closed

[2017-05-03 02:48] WardLT opened #11 "Potential Issue with RDF Method"
I think there are a few issues with the RDF calculation method ([link for convenience](https://github.com/hackingmaterials/matminer/blob/master/matminer/descriptors/structure_features.py#L40))

1. RDF are typically normalized by number density. This function appears normalize by mass density
2. In the loop over pairs of neighbors, pair distances are used as keys for the `dist_rdf` dict. In the loo

[2017-05-03 03:12] shyuep commented on #11
Note that I don't think (1) is ultimately an issue. It is merely a scaling factor and has no effect on most trend analysis. That said, I agree it is usually normalized by number density.

More generally, I find this to be a very poor and overly complicated implementation of a RDF. You do not actually need to do the whole complicated dist_rdf[dist] += 1 (first off, a better implementation of that w

[2017-05-03 06:33] computron commented on #11
Hi all,

Just catching up with this thread. I haven't been actively developing or reviewing matminer development because we're trying to push through "atomate" at the moment and my full focus (when it's possible for me to code...) is on atomate.

@WardLT - thanks for getting involved with matminer and for your suggestion about normalization. For now I have pulled your PR especially since it helps

[2017-05-03 14:41] WardLT commented on #11
I agree, the scaling factor isn't important if you use the RDF as a descriptor for trend analysis/machine learning. However, in some cases (e.g., using the RDF to estimate coordination numbers) the scaling factor is important and I don't want matminer users to be surprised that the scaling is off from what they expected.

I also agree that the implementation leaves some room for improvement. Beyon

[2017-05-03 21:47] computron commented on #11
Hi all,

I'm closing this issue for now. Feel free to reopen if needed

[2017-05-03 21:47] #11 closed

[2017-05-18 20:04] blokhin opened #13 "More sources of data"
Thanks for this project! This is not an issue, but more like a feature request: would you be interested in adding more sources of data (e.g. Nomad, Materials Cloud etc.)?

[2017-05-19 12:49] computron commented on #13
Hi Evgeni,

It's great to hear you found this. I would say that this code is likely going to be largely in hibernation for next two months or so. After that, we are going to be working a lot on the descriptors part of the problem.

As for other data sources, we would certainly be very interested in more data sources. The only caveats are:
i) We may not have the development time to do it ourselves

[2017-06-19 20:16] computron opened #16 "citrination-client and plotly should be optional requirements"
@saurabh02

Commit 948fe5e96ff51469d54914fe0dacc072aa217037 makes citrination-client and plotly required libraries of matminer. This should not be the case. We can think of a typical use case of matminer as someone that has a spreadsheet of data and wants to add descriptors (composition or structure) to it and then run a data mining model. Neither plotly nor citrination-client is needed for that (

[2017-06-19 20:19] #13 closed

[2017-06-20 00:07] saurabh02 commented on #16
Thanks for your comment @computron. Yes you are right in that I added those back to get the unit test to pass. I can certainly look into making them optional and skipping them in the unit tests, but a quick question before doing that - if and when a user wants to utilize a utility of matminer that makes use of these packages, eg: the Citrine data retrieval/plotting functionalities, are you saying

[2017-06-20 17:41] computron commented on #16
Hi @saurabh02

I think it's a good question. In my book, there are a few reasons to go with optional dependency:

- the disk size of the dependency is large
- the dependency is difficult to install, e.g., cannot be auto-installed
- the dependency has some chance of breaking the auto-install (i.e., someone who wants to ```pip install matminer``` gets an error during the installation of the dependen

[2017-06-20 17:41] #16 closed

[2017-06-20 18:01] saurabh02 commented on #16
Thanks for your thoughts @computron !

[2017-06-29 04:03] ning213 opened #18 "Tiny bugs in get_pymatgen_descriptor(）?"
Hello!
      Thanks for your excellent program. I get some trouble in 'get_pymatgen_descriptor('Com','ionic_radii'). It reports this bug "TypeError: float() argument must be a string or a number, not 'dict'". Maybe you can fix this bug. Thanks!

[2017-06-29 20:44] computron commented on #18
Hi @ning213,

Thanks for your report. I personally won't be doing much support of matminer until mid-August or so, which is when I'll take a serious look into the code and make improvements. Hopefully one of the previous developers like @saurabh02 can help out in the meantime.

[2017-06-30 17:40] computron commented on #18
@ning213 I looked again and "ionic_radii" is not one of the valid descriptors to choose. Basically, you need to choose one of the descriptors that yields a numerical value for each element - ionic_radii instead returns a dict for an Element.

You can try an alternate descriptor such as:

[code]

I pushed a change so that someone trying to use ionic_radii gets a clearer error message that this is n

[2017-06-30 17:40] #18 closed

[2017-08-17 19:18] CJBartel opened #32 "Reference for O'keeffe parameters?"
Hi I'm hoping you can provide a reference for matminer/matminer/featurizers/data_files/okeeffe_params.json?

I presume these come from https://doi.org/10.1107/S0108768190011041 or some extension but it's not clear which values are pulled (e.g., oxidation state, bonding partner, etc.) or the significance of "r" vs "c".

Thanks,
Chris

[2017-08-18 13:18] computron commented on #32
Hi Chris

I actually have no idea why this file is even in matminer. It's already there in pymatgen (the paper there is listed as 'Atoms Sizes and Bond Lengths in Molecules and Crystals'  (O'Keeffe & Brese, 1991)). Unfortunately the file history doesn't reveal who put the file there (since I refactored some file locations in matminer, history seems to be destroyed).

I'm just going to remove the f

[2017-08-18 13:18] #32 closed

[2017-08-21 14:15] ldeecke opened #35 "get_pymatgen_descriptor not available"
A very interesting project. However when I follow the tutorial and try to:

[code]

this yields a`ModuleNotFoundError: No module named 'matminer.descriptors'` under v0.1.1.

Am I missing something?

[2017-08-21 15:34] computron commented on #35
Hi,

1 - can you post on:
https://groups.google.com/forum/#!forum/matminer

We use the Github more for internal development.

2 - we refactored a lot of matminer recently so the imports and functions changed. For example, the pymatgen_descriptor is under the featurizers package and under a class stucture. I'll need to revise the notebooks, hopefully sometime this week, to reflect the new code.

[2017-08-21 15:34] #35 closed

[2017-08-21 16:26] ldeecke commented on #35
Thanks for your comment, looking forward to those updates then --

[2017-08-24 19:00] shyuep opened #36 "Can't clone matminer"
Error message is

[code]

[2017-08-24 19:50] computron commented on #36
@kylebystrom can you look into this? Has to do with the git-lfs

[2017-08-24 19:54] kylebystrom commented on #36
Yeah, sorry. I must have been too hasty with lfs. I'm looking into it right
now.

On Thu, Aug 24, 2017 at 12:50 PM, Anubhav Jain <notifications@github.com>
wrote:

[2017-08-24 20:00] kylebystrom commented on #36
Did you try git lfs clone? It's possible that everyone needs to have git lfs to interact with the repo now. Alternatively, it might work to git remote add the repo and then pull it. I understand that both of these solutions are inconvenient and may not work, so it's totally fine if you want to get rid of the datasets file and the config files associated with lfs for the time being. I am looking fo

[2017-08-24 20:01] shyuep commented on #36
Yes. git lfs is automatic with new versions of git, but I tried both git lfs clone and git clone. It seems the object does not exist on server. So it does not seem to be an issue with git itself.

[2017-08-24 20:17] kylebystrom commented on #36
As a temporary workaround, you can do:
git lfs install --skip-smudge
git clone ...
git lfs install --force
This should let you clone the repo, but won't give you the dataset files, just the pointer files. I'm still working on a permanent fix but this should let you clone and work on anything that doesn't involve the lfs files!

[2017-08-24 20:42] kylebystrom commented on #36
Okay, I figured out the issue. It turns out that git-lfs does not support pushing lfs files to public forks, but via some bug or other error I managed to push pointer files to the fork without actually putting the large files themselves on the server. I'm trying to learn more about this, but it appears that I cannot actually handle the datasets on my own. What I could do is send the files to @comp

[2017-08-24 21:00] computron commented on #36
Hi @kylebystrom , yes the files should be on the main repo and not the fork. I am just going to give you direct push access to matminer (master) temporarily so you can get it set up

[2017-08-24 21:06] shyuep commented on #36
Hmmm.... this is a rather big bug if forkers cannot push git lfs files.

[2017-08-24 21:09] kylebystrom commented on #36
Okay, it appears I fixed it now. As a warning, there are some known issues with git lfs on some clients where one is asked repeatedly for login info while downloading lfs files. The git lfs crew recommends login caching for this. @shyuep you're right that it does seem like a pretty big issue that they don't have that kind of compatibility, but it's a git lfs issue and not something I can change.

[2017-08-24 21:11] kylebystrom commented on #36
And thanks @computron for help resolving the issue. Do I need to remove myself from direct push access or do you do that?

[2017-08-24 22:21] computron commented on #36
Ok I checked and it works for me.

I am wondering if we think that, apart from maybe one or two small data sets for playing around, the more official place for data sets should be in a different repo like matminer-datasets. That way, someone downloading the code for the data mining tools doesn't have to also download a dozen data sets, particularly if they want some kind of lightweight installatio

[2017-08-24 22:29] kylebystrom commented on #36
It probably depends on how many datasets we want. If the three I added are all we want, then it might be best to just keep in matminer (My math might be off but I think that the datasets are currently 1/3 of the size of the repo). If we want all the datasets we can find, then it might get overwhelming to keep them all in one repo. Let me know if you want help making those sorts of changes; I'll ma

[2017-08-24 22:40] WardLT commented on #36
For what it's worth, I'm in favor of hosting datasets elsewhere. Also,
what's the advantage of storing the datasets in a git repo? Why not put
them into a dedicated data publishing service?

On Aug 24, 2017 5:29 PM, "kylebystrom" <notifications@github.com> wrote:

It probably depends on how many datasets we want. If the three I added are
all we want, then it might be best to just keep in matminer

[2017-08-24 22:44] kylebystrom commented on #36
Good question. Some other Python packages, like sklearn, have some datasets contained in the Python package itself. However, those datasets probably aren't that big, and if the "datasets" module is written so that there are convenience methods for loading stuff from the datasets in the data publishing service, it might be a nicer interface to just do it that way.

[2017-08-24 23:30] computron commented on #36
Ok let's keep the 3 that we have in the repo. These will be sample data sets that people can use to get started. e.g., we'll design Jupyter notebooks around these. As Kyle said, it's similar to how scikit-learn has a few example data sets so that people can get started quickly.

In terms of repo size, the data sets currently there are ~9MB which is not too bad. The example Jupyter notebooks are ac

[2017-08-24 23:31] #36 closed

[2017-08-24 23:52] shyuep commented on #36
I wouldn't bother with a separate repo until the total data set size goes to order of 100Mb or Gb and beyond. Anything less the admin effort is not worth it.

[2017-08-26 20:27] computron commented on #35
@ldeecke I just pushed some updates so that the notebooks should work now

Please keep in mind that a lot of matminer is under construction, so examples might get out of sync for the next month or so. Hopefully after that things will start to stabilize.

[2017-08-28 22:43] computron opened #37 "oxidation states of elements in Composition descriptors"
@JFChen3 @WardLT Many of the descriptors in composition seem to need knowledge of the oxidation state of an element. As far as I can tell, this is read off some kind of table. But many elements are ambivalent (e.g., P3- in AlP vs P5+ in LiFePO4).

I would suggest using pymatgen Composition's oxi_state_guesses function which I recently developed to guess the oxidation state instead. This should cor

[2017-08-28 22:54] computron opened #38 "Capitalization consistency in feature names"
Hi all

I'd like to make the capitalization of feature names in matminer consistent. We can do:

* everything lower case (e.g. "band center") except for acroynms (e.g. "formation energy FERE")
* first-word capitalization ("Formation Energy FERE")

I'm leaning towards the former, it's just easier to remember and type. The latter leads to some people deciding to do "Formation energy FERE" which is n

[2017-08-28 23:21] nisse3000 commented on #38
No strong feelings towards anything.  My personal preference would actually be "Formation energy FERE" because I consider the labels/description to be something like a sentence.  I'd pick also the former otherwise because it's easier.

[2017-08-29 01:59] WardLT commented on #38
I'm also in favor of all lower case except abbreviations. I agree, it is the easiest to remember and has fewer ambiguities (e.g., do I capitalize prepositions?).

[2017-08-29 10:36] computron commented on #38
Thanks! Closed via 89c784f8933b6ca3fbb08684cb383b4685c3735d

[2017-08-29 10:36] #38 closed

[2017-08-29 17:15] ldeecke commented on #35
Good to hear, looking forward to those updates.

[2017-09-01 18:23] computron opened #39 "Piezo and elastic data sets"
@kylebystrom

I made some changes to the "datasets" package of matminer. Some require your attention:

- Note that git-lfs seemed to be a big hassle and so I decided to just remove it altogether. Hopefully a normal "pull" operation will just fix everything on your end, but if not you may need to re-clone. Let's skip git-lfs from now on unless it really seems necessary, sorry for the hassle but now

[2017-09-01 18:24] computron commented on #39
Also if you can confirm that (i) I listed the correct references and (ii) the datasets I restored are correct (not out of date or anything from your latest commit) that would be helpful

[2017-09-01 20:01] kylebystrom commented on #39
Yeah I'll look into this today and make those updates. I'll see if I can make the dataframes the exact same (i.e. the same columns). Sorry I didn't get the tests and references done when I first wrote up the datasets pacakge; I was rushing a bit too much.

Also, one of the reasons git lfs is useful (and why we will probably need a new repo or data storage repo if we do a bunch of big datasets) is

[2017-09-01 22:29] computron commented on #39
Hi Kyle

Sure, we can use something like git BFG to clean out the logs later. I'll probably want to do this for some of the IPython notebooks too since those are really the biggest culprit. For now I think it's OK.

[2017-09-01 23:12] kylebystrom commented on #39
It looks like the citations and data are good to go, except that you listed the dielectric paper as being 2017 when the link I originally downloaded it from says 2016. I'll fix that when I add the additional columns

[2017-09-01 23:31] computron commented on #37
I can also implement if you want, won't take me long (maybe 3 mins)

Also do you know if the electronegativity tables in Deml are different than those already built in to pymatgen (the latter uses Pauling definition)? If not I might also switch to using pymatgen electronegativity since that doesn't need to be separately loaded. If it's different (e.g. Mulliken) we can keep it the way it is

[2017-09-01 23:45] WardLT commented on #37
Sorry for the delayed reply.

If it will not take you long, feel free to make the changes.

The Deml electronegativity tables are also Pauling electronegativities. And
so, I'm also in favor of using the pymatgen version.

On Sep 1, 2017 6:31 PM, "Anubhav Jain" <notifications@github.com> wrote:

I can also implement if you want, won't take me long (maybe 3 mins)

Also do you know if the electronega

[2017-09-02 00:00] computron commented on #37
ok great, closed via 87c4f029484181f052bb6b1bac1e8bc67cc846fe

[2017-09-02 00:00] #37 closed

[2017-09-02 02:27] kylebystrom commented on #39
Hi @computron ,

I pulled the useful descriptors out of the meta dictionary for the piezoelectric and dielectric datasets, and I fixed the date for the dielectric citation. Everything should be up to date, but I saved an exact copy of the previous datasets in case something gets messed up.

[2017-09-02 02:49] computron commented on #39
Thanks! I updated the unit tests

[2017-09-02 02:49] #39 closed

[2017-09-02 02:49] kylebystrom commented on #39
Ah shoot sorry, I updated them too but forgot to push them. Thanks!

[2017-09-18 17:37] kylebystrom opened #42 "LFS File Issue (IPython notebooks): Missing Objects"
It appears that something is wrong with the MPDS and Citrine IPython notebooks.* I get the following output when I try to pull from the skeleton:

$ git lfs pull skeleton master
Git LFS: (0 of 2 files) 0 B / 191.73 KB
Username for 'https://github.com': kylebystrom
Password for 'https://kylebystrom@github.com':
Git LFS: (0 of 0 files, 2 skipped) 0 B / 0 B, 191.73 KB skipped

[2017-09-18 17:52] computron commented on #42
Ideally we should have **nothing** be stored with git-lfs. I will try to fix in the next week but if there is anything I can do to help you fix it in the meantime let me know. I am not sure if this is a problem with your fork specifically or with main hackingmaterials/matminer, I would ensure it is the latter first.

[2017-09-20 01:01] kylebystrom commented on #42
I could not fix my fork, but I did not have any important updates on it so I just deleted and remade the fork. Everything works now.

[2017-09-20 01:01] #42 closed

[2017-09-28 22:36] computron opened #46 "PropertyStats should include a "reduced mass" type average"
i.e., a parallel addition type term

1 / avg = 1 / x1 + 1 / x2 + 1 / x3 ...

Sometimes the "reduced mass" of a system can be more informative than an average mass for example

[2017-10-25 18:13] computron opened #56 "code fails for multiple reasons if I try to only set a single optype"
@nisse3000

[code]

[2017-10-25 19:50] nisse3000 commented on #56
@computron, that's odd.  I get
[u'mean sq CN_4']
Have you pulled the most recent matminer version?

[2017-10-25 19:55] computron commented on #56
works for me too, I think this was before your most recent PR (but after the PR from yesterday) - things are changing quickly ...

[2017-10-25 19:55] #56 closed

[2017-10-25 21:08] WardLT commented on #46
Is this just the holder mean with n == -1? If so, we do already support this.

[2017-10-30 22:46] computron commented on #46
The holder mean with n = -1 is pretty close, it is just the number of samples times what I originally suggested.

e.g. the reduced mass of a 2-body system with m1=2 and m2=2 is 1, whereas the holder mean is 2 (twice of 1, since we have 2 samples). I think the holder mean with n^-1 is closer to what I want since it generalizes better to >2 entries.

[2017-10-30 22:46] #46 closed

[2017-10-31 16:50] computron opened #61 "normalization for standard deviation in PropertyStats"
There are two different (common) definitions of standard deviation. One of them has the number of samples in the denominator, n, and the other one has one less (n-1), which is known as Bessel's correction.

The questions are:
- which definition should be used by default
- should we support both as an option

My vote is in favor of n-1 by default. I expect most of the time we will not have a full p

[2017-10-31 16:50] computron opened #62 "Py2: AGNIFingerprints test failing"
@WardLT The AGNIFingerPrints tests fail on Py2 with error listed below. I tried a few fixes but still doesn't seem to work. Note that everything is OK in Py3.

======================================================================
ERROR: test_off_center_cscl (test_site.FingerprintTests)
----------------------------------------------------------------------
Traceback (most recent call last):
  Fil

[2017-10-31 22:27] WardLT commented on #61
@computron, perhaps a first issue to address is "what is our intended use for the `PropertyStats.std_dev` function?"

There seem to be two possible cases for employing property stats. A first one is measuring the variance in some property across a dataset. In that case, I agree that using the Bessel correction is appropriate because we are estimating the variance with only a sample of all possible

[2017-10-31 22:31] computron commented on #61
@WardLT Ok agreed. I was getting std_dev statistics across rows confused with std_dev stats within a row. The option for n-1 probably isn't needed at the moment.

[2017-10-31 22:31] #61 closed

[2017-10-31 22:31] #62 closed

[2017-11-07 20:54] computron opened #66 "add a distance_metrics package"
(internal note for myself)

many ML algorithms (e.g., clustering, kernel regression) require only distance between points, not explicit features. Add a distance_metrics package to help with this

Note that it's possible to code a generalized distance function that takes in a featurizer, args1 for data point1, args2 for data point2, and a choice of distance metric (angle or vector distance). Such a

[2017-11-10 18:35] computron opened #67 "add new Featurizer based on orbital energies in pymatgen"
Either myself or @dyllamt can implement

[2017-11-10 18:40] computron opened #68 "add utilities package for various functions"
e.g. string column - > composition column
pymatgen dict repr - > pymatgen object
structure (no oxid) -> structure with oxidation state guesses

[2017-12-14 21:02] computron opened #81 "Implement CN algo as NearNeighbors in pymatgen"

[2017-12-14 21:02] computron opened #82 "Featurizer to turn site into a CN (single float)"
And maybe a string label

[2017-12-14 21:04] computron opened #83 "Rename OPStryctureFingerprint"
Make it a generic site avg fingerprint

[2017-12-14 22:50] computron opened #84 "some remaining items for DosFeaturizer"
@dyllamt @albalu

* move to featurizers/dos.py (instead of bandstructure.py)
* the xbm_location_i should probably return fractional, not Cartesian coords. Can't think of any good reason for it to be Cartesian
* the coordination variable in ``get_cbm_vbm_scores`` is way too hacky. Only works for tet vs oct, uses a custom function, etc. Remove this var. If someone want this function they should code

[2017-12-14 23:56] albalu commented on #84
@dyllamt , if you can add the doc to get_cbm_vbm_scores(), I can take care of the rest.

[2017-12-15 15:36] WardLT opened #85 "Improving Performance of Composition Features"
I recently compared the performance of `matminer` to `Magpie` for computing composition-based features. For ~250k entries, `matminer` requires 24 minutes to evaluate the same features that take `Magpie` 4 seconds.

From a quick profiling run, it seems like a fair amount of the time (25%) is spent retrieving elemental properties and, [surprisingly](https://github.com/scipy/scipy/issues/3035), compu

[2017-12-15 18:43] computron commented on #85
Thanks for looking into this! I don't plan to work on this at the moment so don't need the public branch

[2017-12-15 19:05] dyllamt commented on #84
@albalu, that works for me. Maybe we can discuss more during our meeting today?

[2017-12-15 20:59] computron opened #87 "revise unit tests for ChemEnvFingerprint"
@nisse3000

See PR #86 for details

[2017-12-15 23:20] computron opened #88 "Implement atomic orbital code as features"
@albalu @dyllamt

Can you implement the atomic orbital code as a Composition featurizer that gives the pertinent info? I think it's called MolecularOrbitals in pymatgen although I am not sure they are really molecular orbitals

[2017-12-15 23:21] computron opened #89 "better (and working) tutorials"
better tutorials (e.g. show off featurize_dataframe, better use of featurizers, include structure featurizers, separate into “getting data”, “featurizing data”, and “full data mining workflow”, make sure they work with Py3 (no print ‘x’), use built-in example datasets for tutorials, etc.

[2017-12-15 23:22] computron opened #90 "Miedema model generalized for ternaries and higher"
@Qi-max

[2017-12-15 23:24] computron opened #91 "Voronoi-tessellation-based features (i.e., de Jong, Isayev, Ward)"
talk to @WardLT if interested

https://www.nature.com/articles/srep34256
https://www.nature.com/articles/ncomms15679
https://journals.aps.org/prb/abstract/10.1103/PhysRevB.96.024104

[2017-12-15 23:24] computron commented on #91
(maybe something for @Qi-max to contribute?)

[2017-12-15 23:25] computron opened #92 "add BOP, AFS features"
Talk to @WardLT if interested

https://journals.aps.org/prb/abstract/10.1103/PhysRevB.95.144110

[2017-12-15 23:26] computron commented on #92
maybe something for @kylebystrom ?

[2017-12-15 23:27] computron opened #93 "Documentation / standardization for BaseFeaturizer"
as suggested by @WardLT

- Specify a common format for the documentation for the featurizers (e.g., how to list which features it generates)
- Should functions return `nan` or raise an exception if featurization fails?

[2017-12-15 23:27] computron opened #94 "Adding MDF data retrieval class"
Talk to @WardLT if interested

[2017-12-15 23:28] computron commented on #68
some of these, e.g. structure (no oxid) -> structure with oxid might be considered a featurizer.

others are like utility or data conversion featurizers

[2017-12-20 21:19] dyllamt commented on #88
Hi @computron

I am currently working on this and have decided that there are two ways this could be implemented. Option one is that the featurizer returns a specified number of the highest energy orbitals contributed by each element. Alternatively, the featurizer could return the highest occupied atomic orbital (by the valence electron count) and lowest unoccupied atomic orbital in the entire com

[2017-12-21 12:20] computron commented on #88
I wiuld be most interested in
- atomic orbital band gap
- absolute energy of HOMO
- absolute energy if LUMO
- character of HOMO
- character of LUMO

Anything else would be up to you, but hopefully we can get those things

[2017-12-21 18:40] computron opened #97 "Add a BagofBonds structure featurizer"
This would take in a structure and retain a list that contains the number of bonds (probably as fraction). For example, if a structure had 2 Li-O bonds and 3 Li-P bonds, it could return [0.4, 0.6] as the featurizer value and ["Li-O", "Li-P"] as the feature labels.

Some aspects to note:
* You probably want to allow any pymatgen NearNeighbor class to be used as the bond detection method. Some prese

[2017-12-31 02:40] kylebystrom opened #100 "featurize_dataframe mishandles features that are equally sized numpy arrays"
When BaseFeaturizer.featurize_dataframe() is called for a featurizer which returns equal-dimension
numpy arrays (such as OrbitalFieldMatrix and the in-dev ManyBodyTensor), the code exits in error,
as shown in the Python code and output attached in testfeat.txt. The reason for this is that featurize_dataframe joins the features into a numpy array, which is interpreted as a multidimensional array if

[2017-12-31 21:43] WardLT commented on #100
Hello @kylebystrom ,

Thanks for catching this problem! I'm made a PR that incorporate the change you suggested, which I thought was spot-on.

Do those changes look like they will work for you?

[2017-12-31 22:01] kylebystrom commented on #100
Yes, that fix looks great! Thank you.

[2017-12-31 22:01] #100 closed

[2018-01-05 18:27] computron opened #103 "unit tests for sample data loaders"
@kylebystrom

this will make sure the package_data correctly contains the CSV files needed for sample data sets (as @kylebystrom found out was an issue in the past)

putting this issue here as a reminder so we don't forget about this

[2018-01-05 18:34] computron commented on #67
this is done

[2018-01-05 18:34] #67 closed

[2018-01-05 18:46] dyllamt commented on #84
Remaining Issues:
- features stored in unordered, standard dictionary
- class attributes are initialized in the featurize() function
- feature_labels() can’t be called until after featurize() has been called

I'll work on fixing these in the next week. BandFeaturizer currently has the same issues.

[2018-01-05 19:54] computron commented on #68
done via 7078efe7fc9a3e7f2cd143bec987f72cae98a811

[2018-01-05 19:54] #68 closed

[2018-01-05 19:58] computron commented on #82
should use the NearNeighbor interface to pymatgen (take in any NearNeighbor algo)

Not sure about string label in retrospect since NearNeighbor only gives CN

[2018-01-05 23:01] nisse3000 commented on #87
Hi @computron,
the CsCl structure is in fact distorted. The Cl atom/ion is not at the perfect center of the cube. And, the unit test features that (value smaller than 1 for both strategies).  I significantly increased the deviation from the perfect center position and I still get the same value for the simple and multi-weight strategy.  Apparently, both neighbor finding algorithms still find the s

[2018-01-08 08:50] ahzeeshan opened #105 "Data retrieval and descriptor tools"
There seems to be some issue running some examples. In particular (as of Jan 8 despite using api_key), in the bulk modulus example https://hackingmaterials.github.io/matminer/example_bulkmod.html the line:

    from matminer.featurizers.data import PymatgenData
returns

    ModuleNotFoundError: No module named 'matminer.featurizers.data'
Also:

    from matminer.descriptors.composition_features im

[2018-01-08 19:19] saurabh02 commented on #105
Is `matminer` in your `PYTHONPATH` environment variable for the interpreter in use?

[2018-01-08 19:54] WardLT commented on #105
Also, how recent of a version of matminer are you using?

Unfortunately, the github.io page is currently out-of-sync with the git repository. The examples [here](https://github.com/hackingmaterials/matminer/tree/master/example_notebooks) should work.

[2018-01-08 20:44] ahzeeshan commented on #105
@saurabh02, yes it is. @WardLT I have tried with the developmental version as of Jan 8. The example still does not work because of the same `ModuleNotFoundError`. Indeed while browsing the repo online, I can't find these modules about data or descriptors inside `matminer/matminer/featurizers/` or `matminer/matminer`

[2018-01-08 20:54] computron commented on #105
Hi Zeeshan,

We recently refactored and changed a lot of matminer and did not have a
chance to go back and update the docs yet. For
example, matminer.featurizers.data is now in matminer.utils.data.

Note that I didn't see a reference to "from
matminer.descriptors.composition_features import get_pymatgen_descriptor"
in the link you sent, but that looks it is using a very outdated version of
matmine

[2018-01-09 00:18] ahzeeshan commented on #105
Thanks, Anubhav for the update. I see a lot of functions are under construction.

i.e., hopefully in the next few weeks.

Looking forward to it.
-Zeeshan

[2018-01-09 00:18] #105 closed

[2018-01-09 19:27] kylebystrom commented on #103
Hi @computron,
I made a couple improvements to the datasets module and unit tests, but it appears that even the old unit tests should fail with a FileNotFoundError if the CSV files aren't there, correct?

[2018-01-13 01:09] computron opened #108 "some cleanups to sample dataframes"
@kylebystrom can you help clean up some of the sample dataframes?

* Don't need an "idx" column (there is already a material_id column that serves as an index)
* Actually make the "material_id" the index column of the dataframe - see for example the ``index_col`` parameter of ``pd.read_csv`` (you'll notice there is no extraneous index column after doing this).
* if ``volume`` is volume per site, r

[2018-01-13 17:52] kylebystrom commented on #108
Will do!

[2018-01-23 01:31] nisse3000 commented on #82
@computron, see PR #112.

[2018-01-23 17:05] computron commented on #82
closed via #112

[2018-01-23 17:05] #82 closed

[2018-01-23 17:07] computron commented on #88
(this was completed)

[2018-01-23 17:07] #88 closed

[2018-01-23 17:07] computron commented on #108
(this was completed)

[2018-01-23 17:07] #108 closed

[2018-01-23 17:07] computron commented on #103
(this was completed)

[2018-01-23 17:07] #103 closed

[2018-01-23 17:08] computron commented on #90
(this is completed)

[2018-01-23 17:08] #90 closed

[2018-01-23 17:09] computron commented on #89
Note - I have created what should be a working Jupyter notebook for the initial intro.

Someone should go through the remaining tutorials and make sure they work ...

[2018-01-23 17:10] computron commented on #87
Ok if you distorted the structure and don't get different values, let's just forget it.

[2018-01-23 17:10] #87 closed

[2018-01-23 17:10] computron commented on #85
(this is completed)

[2018-01-23 17:10] #85 closed

[2018-01-23 17:11] computron commented on #84
(this is completed)

[2018-01-23 17:11] #84 closed

[2018-01-23 17:12] computron commented on #66
Not sure this is actually needed, revisit / re-open later if so

[2018-01-23 17:12] #66 closed

[2018-01-23 17:35] computron commented on #83
(this is completed)

[2018-01-23 17:35] #83 closed

[2018-01-23 18:45] computron opened #113 "support for grouped DataFrames in featurizers"
There is a way to group columns in DataFrames which makes things look much prettier and more organized. See for example this example from Patrick Huck in MP:

![2018-01-23 10 42 57 am](https://user-images.githubusercontent.com/986759/35293959-323e54d6-002a-11e8-8fa6-843d338c51a9.png)

It would be nice if:

* sample dataframes included grouped columns (e.g., an "outputs" group, a "metadata" group,

[2018-01-23 18:45] computron commented on #113
(maybe @WardLT @JFChen3 for the latter improvements to featurize_dataframe() ?)

[2018-01-23 18:55] computron commented on #93
So to follow up on this:

For the documentation, I don't have much guidance at this time. If someone has some proposals of what they'd like to see, I can provide some feedback.

As for ``nan`` vs exception, I think the behavior I'd most like is for an individual featurize() function (for one object) to throw an exception if something goes wrong. For example, if the featurizer requires cations and

[2018-01-23 18:57] computron opened #114 "support multiprocessing in featurize_dataframe"
have a multiprocessing option in featurize dataframe to speed it up. Should detect the number of processors (straightforward with Python) and use multiprocessing package to parallelize.

[2018-01-24 15:59] WardLT commented on #113
Nice! I didn't realize you could group columns this way. The code looks decently straightforward. I could give it a shot for marking which featurizer a feature comes from for MultiFeaturizer.

[2018-01-24 17:34] computron opened #117 "matminer can include capability to functionalize features"
Part 1: This would be a tool that takes in a feature (or list of features) and returns some functional outputs like:

* x
* 1/x
* x^05.
* x^-0.5
* x^2
* x^-2
* x^3
* x^-3
* ln(x)
* 1/ln(x)
* exp(x)
* exp(-x)

where x is the original feature value. Note that the list of features above is from "Machine Learning and Materials Informatics: Recent Applications and Prospects" by Ramprasad et al.

Part 2

[2018-01-25 11:21] ardunn commented on #93
For `nan` vs exception, I found the most efficient workflow for featurizing a lot (all ~60k MP mats) of (potentially) error prone data was to ignore_errors = True and filter mostly nan features with pandas nan threshold afterwards. But I can also see why throwing exceptions is good, in the case of accidentally putting in a structure for a comp or something, because if you had ignore_errors on, you

[2018-02-01 16:57] computron opened #123 "fix pip install"
Apparently pip install of matminer does not copy data tables - which results in much of the core code breaking. Someone needs to investigate and fix. See:

https://github.com/hackingmaterials/matminer/pull/122#issuecomment-362127852

[2018-02-03 03:48] WardLT commented on #94
Awesome! Are you using the MDF forge package to build it? Feel free to bug
me if you have questions.

On Feb 2, 2018 3:48 PM, "Joseph Montoya" <notifications@github.com> wrote:

[2018-02-07 00:56] albalu commented on #89
@montoyjh , when plotting in your tutorial, will you consider using figrecipes plotly wrappers? @ardunn and I are improving its defaults and adding 1-2 new plotly plots [here](https://github.com/ardunn/matminer/tree/viz) and would appreciate your feedback if you end up using any of them. We may be able to submit a PR within the next few days if you can wait with plotting as there will be some re-s

[2018-02-07 01:35] montoyjh commented on #89
Sure, that sounds great.

[2018-02-07 01:52] montoyjh commented on #89
I'm also having a bit of trouble with accessing 2 of the tutorials via git-lfs, specifically MPDS_UO_bondlengths.ipynb and the one on PbTe bandgaps.  I can get them from the gists linked in the docs, if need be, but just wanted to mention it.

[2018-02-07 10:01] computron commented on #89
@montoyjh We had lots of problems with git-lfs and tried our best to nuke git-lfs and all traces. Instead of git-lfs we wanted to do all the tutorials via gist - i.e., so they don't occupy space in the main repo, avoid the problems of git-lfs, but are still easy to access/modify/update/comment on. Was there some remnants of git-lfs left over?

[2018-02-07 16:41] montoyjh commented on #89
Ah, great.

As far as gist, can I propose an alternative solution?  If you leave the notebooks in unexecuted form, they take up significantly less space (all of the notebooks take up around 100-200K, as opposed to 20-40M). If done this way, they can still be included in the repo.  When building the docs, you can run `jupyter nbconvert --to html --execute` which will execute the cells and export to

[2018-02-07 16:58] computron commented on #89
Hi Joey

Feel free to try any better solution. My main concern is to not bloat the
repo with notebooks, plus all the various commit history of the notebooks
since each Jupyter notebook change can be big. It might be the same if the
HTML is just 50% of the executed notebook. Certainly small HTML files are
fine but a 20MB HTML is excessive ...

One potential workaround is something like this:

- kee

[2018-02-07 20:57] #123 closed

[2018-02-09 18:02] computron opened #128 "too many presets"
Some of the featurizers have a large amount of presets, all of which are doing essentially the same thing. Here's one from a recent PR, although there were many before this of the same form (some committed by me).

[code]

We should:

1. Clean up the code to shorten it, using something like this:
https://stackoverflow.com/questions/4821104/python-dynamic-instantiation-from-string-name-of-a-class-i

[2018-02-09 18:03] computron opened #129 "pymatgen preset in ElementProperty"
The features chosen for the "pymatgen" preset are somewhat random (I chose them on a whim, based on no data, while coding in a rush)

Someone can try to do a better job with this...

[2018-02-09 18:05] nisse3000 commented on #128
@computron, sounds sensible.  I'll take care about the example you gave.

[2018-02-09 19:41] ardunn commented on #114
This is done

[2018-02-09 19:41] #114 closed

[2018-02-12 23:46] nisse3000 commented on #128
@computron, done (in my fork).  I'm waiting with the pull request until @shyuep has released the next pymatgen version so that the additions of new and optimized OPs will also be part of that PR.

[2018-02-13 00:08] computron opened #135 "BaseFeaturizer() doesn't support certain types of featurizers well"
Many featurizers don't have a set number or type of features that they return - the features depends on the inut. For example, the BagofBonds featurizers (currently as a PR) will return one value for each potential bond combination in the material. For Li2O this would mean Li-Li, Li-O, and O-O. But for Li (metal) the only feature is Li-Li. Or for Na2S it is Na-Na, Na-S, S-S. So the features are di

[2018-02-13 00:15] WardLT commented on #135
I think this is a good point @computron.

Could we support this case by adding a 'fit' operation that takes a list of
entries and then sets the necessary parameters of the featurization (e.g.,
which bonds to list)?

That would also conceptionally separate actions that prepare a featurizer
to be used from those used when running/training a model.

Another option that I was considering while reading

[2018-02-13 13:58] computron commented on #135
It is probably best if we try to list all possible options before deciding on one.

Just to continue listing potential options, another one is to change featurize() so that it returns a NamedTuple of (values, labels). We would get rid of the feature_labels() method altogether - featurize() would return both data and labels. One reason to do this is that the initial sketch of the BaseFeaturizer ass

[2018-02-13 16:46] WardLT commented on #135
I agree, listing the option is a good plan. One more to add to the list: having a separate base class for featurizers that do not perform well. This makes:

1. No changes. All options that effect `featurize`, `feature_labels`, et cetera must be set in the initializer
2. Add a training operation (`fit`) to BaseFeaturizer. The training operation changes sets attributes of the featurizer that may not

[2018-02-13 20:43] nisse3000 commented on #128
See PR #136.

[2018-02-14 02:29] YunxingZuo opened #137 "Minor Bug in CrystalSiteFingerprint.featurize()"
I try to use featurize method in CrystalSiteFingerprint class, but met this bug:
TypeError: __init__() got an unexpected keyword argument 'target'

Possible solution:
In line 484 in featurizer/site.py, vnn = VoronoiNN(cutoff=self.cutoff_radius, targets=target), because no 'target' parameter in VoronoiNN
In line 486 in featurizer/site.py, n_w = vnn.get_voronoi_polyhedra(struct, idx)
because no 'use

[2018-02-14 03:46] computron commented on #137
Thanks! I just pushed the changes via: 1b6207b81b0596e0aa88d041cc96c1e612822ae4

Should be reflected in the next release

[2018-02-14 03:46] #137 closed

[2018-02-14 03:51] dyllamt commented on #92
@computron, I did some reasearch into the structure features in above paper. I'm going to implement GRDF, incorporating PRDF into the featurizer, along with AFS. Summary below is mostly for my benifit.

PRDF (partial radial distribution function)  vector
- already implemented
- need to update return section of doc

GRDF (general radial distribution function)  vector
- similar to AGNIFingerprints
-

[2018-02-14 16:38] WardLT commented on #92
Thanks for looking in to this, @dyllamt !

I agree, having a GRDF class would cover all of these use cases quite nicely. I'm worried how expansive the number of options for that class might become to cover all of these types of radial distribution functions. Have you already considered making featurizers for PRDF/RDF subclasses of GRDF, or creating clearly-defined presets for common types of GRDF'

[2018-02-14 17:54] dyllamt commented on #92
I like the subclass suggestion @WardLT .

The parent and child classes could share the same _featurize_() function, but have different _init_() for defining the bins--GRDF would have a list of bin functions as inputs, while PRDF would only have a cutoff and binsize as currently implemented.

RDF could be implemented as an option with a boolean flag, which specifies whether to sum the PRDFs for eac

[2018-02-18 04:25] computron opened #141 "figure out what to do with distance_metrics.site"
matminer/matminer/distance_metrics/site.py has a note:

[code]

@nisse3000 can you figure out the plan? Think this hosts your legacy method

[2018-02-18 04:26] computron opened #142 "move has_oxidation_states function to pymatgen?"
See note from @WardLT

matminer/featurizers/composition.py:29

[2018-02-18 04:27] computron opened #143 "ElectronegativityDiff failures"
See

[code]

matminer.featurizers.composition.ElectronegativityDiff

[2018-02-18 04:29] computron opened #144 "ElementFraction should add citations()"
@WardLT

See:
[code]
matminer.featurizers.composition.ElementFraction

[2018-02-18 04:31] computron opened #145 "Add more descriptive comments to citations for CohesiveEnergy"
@saurabh02

See this todo:
[code]
matminer.featurizers.composition.CohesiveEnergy#citations

You can add some code comments that explains what is going on. This could be part of the main doc for the CohesiveEnergy featurizer, e.g.
[code]

[2018-02-18 04:31] computron opened #146 "AGNIFingerprints: differentiate atom types?"
See:

[code]
matminer/featurizers/site.py:66

[2018-02-18 04:32] computron opened #147 "Unit tests needed for CrystalSiteFingerprint"
See
[code]

matminer.featurizers.site.CrystalSiteFingerprint

@nisse3000 can you help with this?

[2018-02-18 04:34] computron opened #148 "Figure out if EwaldEnergy is thread-safe?"
See
[code]

matminer/featurizers/site.py:919

I think @WardLT wrote this - was it resolved?

[2018-02-18 04:34] computron opened #149 "Figure out where to put n_numerical_modes"
See
[code]

comment:

[code]

[2018-02-18 04:35] computron commented on #149
@nisse3000

[2018-02-18 04:35] computron opened #150 "Figure out where to put get_op_stats_vector_diff"
@nisse3000

matminer.featurizers.structure.get_op_stats_vector_diff

Comment is:
[code]

[2018-02-18 04:38] computron commented on #145
See also the comment:

```TODO: Where is this data from? -wardlt```

matminer/utils/data.py:103

You can put the description in the docstring for the ```CohesiveEnergyData``` class

[2018-02-18 14:45] WardLT commented on #148
I did write this. After some discussion with others, I think EwaldEnergy is thread-safe (reasoning below). I'll issue a PR to remove this comment.

____
Python's multiprocessing library uses Pickle to pass objects to each thread. Consequently, each thread will have a different instance of EwaldEnergy and, therefore, each thread will have their own cache.

[2018-02-18 15:47] #144 closed

[2018-02-18 15:48] WardLT commented on #143
I think `NaNs` make the most sense for this class, as the features are not applicable to metals. But, this opens a question: Should we return `NaN`s or raise an Exception (and rely on the `ignore_errors` of `featurize_dataframe`)?

I'm in favor of the Exception route (and am currently implementing it), as it gives more feedback on why the featurizer is returning `NaN`s.

[2018-02-18 15:50] computron commented on #143
I agree, Exception is good, it should just be informative

[2018-02-18 15:54] computron opened #154 "Should featurize_dataframe have an exceptions_encountered() variable?"
Let's say you run featurize_dataframe with ignore_errors=True. After finishing featurization, you might want to just see what errors were encountered. If the BaseFeaturizer had an attribute/function called exceptions_encountered() perhaps it could return all the exceptions encountered during the previous featurize_dataframe() call.

Implementation would be simple - just create the variable, reset

[2018-02-18 15:57] #143 closed

[2018-02-18 16:53] dyllamt commented on #135
I looked into the `fit_transform` method for `CountVectorizer`. To assign a total number of features for several text documents, the method finds the total vocabulary for each input text document. In the context of _featurizers_, this is analogous to computing `feature_labels` for each input sample.

For some _featurizers_ you might be able to infer the number of features (for each sample) from th

[2018-02-18 17:15] dyllamt commented on #135
This is just a temp solution for now, but it offers some advantages like relieving the need for a `feature_labels` function in general.

You might have two classes `HeterogeneousFeaturizer` and `HomogeneousFeaturizer` that are identical, but allow you to semantically differentiate between different featurizing behavior, so the user knows what they're getting with each featurizer.

[2018-02-18 18:43] WardLT commented on #135
Thanks for this detailed reply, @dyllamt ! I think the `HeterogeneousFeaturizer` might be a good solution for features that really don't fit the mold of `BaseFeaturizer`. How rare do you expect that to be?

You make a good analogy for the `fit` function to be equivalent to computing labels before features. I agree that there are some examples where figuring out the feature labels ahead of time is

[2018-02-18 23:42] computron commented on #135
Hi all,

OK, I thought a bit about this. Here's my current suggestion, which echoes Option 2 above but with some differences.

1. We make all featurizes follow the ``Transformer`` pattern in scikit-learn. See these links:
http://scikit-learn.org/stable/data_transforms.html and http://www.dreisbach.us/articles/building-scikit-learn-compatible-transformers/ . This will also allow using matminer feat

[2018-02-18 23:48] computron commented on #135
(see also this link re:Pipelines: https://bradzzz.gitbooks.io/ga-seattle-dsi/content/dsi/dsi_05_classification_databases/2.2-lesson/readme.html)

[2018-02-19 03:04] WardLT commented on #135
:+1: I'm on board with this plan.

[2018-02-19 04:24] WardLT commented on #135
A quick thought: is the desired behavior of `transform` close to what we currently have named `featurize_many`?

[2018-02-19 17:33] dyllamt commented on #135
I see why you were both in favor of this paradigm now! I didn't see the vision before.

I think you're right about `transform` and `featurize_many` @WardLT. sklearn's `FeatureUnion` might also take care of `MultipleFeaturizer`.

I noticed that in sklearn's `CountVectorizer` that the `fit` method is just a call to `fit_transform`. That might be convenient for `BagofBonds` and `Dos` where computing

[2018-02-19 17:35] WardLT commented on #135
I'm currently in the process of trying to capture @computron's description with an update of BaseFeaturizer and an implementation of the PRDF. Is anyone else already doing that?

[2018-02-19 17:37] dyllamt commented on #135
Not me right now.

[2018-02-19 17:39] WardLT commented on #135
And, it occurs to me that we should probably make BaseFeaturizer inherent from `BaseEstimator` from scikit-learn. I think that will provide us the ability to work with `Pipelines`, with the only additional coding requirement being that we cannot use `*.args` and `**kwargs` in the initializers (see [here](https://github.com/scikit-learn/scikit-learn/blob/a24c8b46/sklearn/base.py#L176)). Sound reaso

[2018-02-19 17:49] computron commented on #135
I am mainly chasing around my daughter this long weekend so I am not implementing - @WardLT I think you are good to go!

Subclassing ``BaseEstimator`` sounds good to me.

As an aside, at first I thought we might want to have ``*args`` and ``**kwargs`` in certain Featurizer constructors (e.g., to pass those arguments into various pymatgen objects), but I think we can do without them. For example, w

[2018-02-20 18:28] ardunn commented on #154
Sure, I think this would be tremendously useful!

I would personally lean towards the second option (a `return_errors` arg). However instead of changing the return type, what do you think about adding a "(name of featurizer) errors " column to the dataframe? Then you can just print the relevant rows of the dataframe to see what rows did not featurize well (in an organized fashion).

[2018-02-20 23:39] computron commented on #154
Sounds good to me! But I would wait until the BaseFeaturizer changes are finished and merged before implementing this, otherwise we're gong to end up with merge conflicts all over.

[2018-02-21 02:13] dyllamt opened #159 "Site-based featurizers in the structure module"
Some of the featurizers in the _structure_ module return site-dependent features:
- CoulombMatrix
- SineCoulombMatrix
- MinimumRelativeDistances
- AngularFourierSeries and GeneralizedRadialDistributionFunction (pending in pull request #138)

Should they be moved to the _site_ module?

There does exist a featurizer `SiteStatsFingerprint` in _structure_ that can generate the features for all sites i

[2018-02-21 02:37] dyllamt commented on #159
@nisse3000 since you implemented `SiteStatsFingerprint`, do you think this solution would be appropriate for featurizers other than the presets?

@computron In a way, this may also pertain to issue #135 because you would only need to implement the `fit` method in `SiteStatsFingerprint` for some of these site-based featurizers

Depending on what you think, I can make the changes.

[2018-02-21 03:14] computron commented on #159
@dyllamt these are structure features, e.g. the Ewald matrix is a function of the entire structure.  Same with the others, read the docstring and notice that they take in just a Structure (not a Structure and a site index, which the site.py featurizers do) as input.

I am not sure exactly what you are suggesting for ``SiteStatsFingerprint``  but it already works the way you said. The main construc

[2018-02-21 03:16] computron opened #160 "RadialDistributionFunction featurizer should take a structure as an argument"
@saurabh02 you are listed as the implementor

See matminer.featurizers.structure.RadialDistributionFunctionPeaks#featurize

All structure featurizers need to take in a pymatgen Structure as an argument

[2018-02-21 15:50] dyllamt commented on #159
One of the comments Logan made to the GRDF/AFS pull request was that since these two featurizers return a list of features for each site (e.g., in the case of GRDF, RDFs for each site), maybe they should be site featurizers.

This is different behavior than the `RadialDistributionFunction` or `ElectronicRDF`, which sums the respective RDFs from each site.

I realize that most structural features a

[2018-02-21 15:56] dyllamt commented on #159
I guess both behaviors could be achieved through the `SiteStatsFingerprint`

[2018-02-21 16:48] WardLT commented on #159
Besides the inputs to the functions, I think another good requirement for "structure" featurizers should be that they return the same number of features regardless of the number of sites in the structure.

The featurizers that return a concatenated list of site features are problematic. For one, the number of features changes with the number of sites, which causes problems for many ML algorithms.

[2018-02-21 17:45] computron commented on #159
Hi all,

Ok I think I misunderstood. Yes GRDF/AFS are site-based features, but they can also be used to create Structure-based features. So they should be implemented as site-based features as the core, and there should be a separate structure-based feature that take the appropriate average/sum/concatenation of the site-based features.

As for feeding *everything* through SiteStatsFingerprint, I'd

[2018-02-21 17:48] computron commented on #159
so to clarify:

- we would have two "main" structure featurizers that operate on sites - ``SiteVectorFingerprint`` (formerly called ``SiteStatsFingerprint``) and ``SiteMatrixFingerprint`` (which will concatenate site vectors into matrices).
- we have two sets of statistics computing entities - a ``VectorStats`` (formerly ``PropertyStats``) and ``MatrixStats``.

[2018-02-21 18:58] WardLT commented on #159
The above sounds good to me.

One potential concern: performance issues if each site featurizer has to re-do some computation that involves the entire structure. Should we create a abstract class site featurizers (`CachedSiteFeaturizer`) that provides a standardized caching logic? (See how EwaldSiteEnergy does it: [site.py#L907](https://github.com/hackingmaterials/matminer/blob/master/matminer/fea

[2018-02-21 19:25] computron commented on #159
ok!

[2018-02-21 23:07] computron opened #161 "PRDF (PartialRadialDistributionFunction) featurizer: params in fit() vs init()"
For PRDF featurizer, why put ``included_elems()`` and ``excluded_elems()`` in the fit() function rather than a constructor argument?

matminer.featurizers.structure.PartialRadialDistributionFunction#fit

Note that it should be technically allowed by sklearn to have fit_params, so the current implementation is not incorrect, but just curious why not put it in the constructor.

[2018-02-21 23:12] computron opened #162 "Discussion: default n_jobs for Featurizers"
Currently the default n_jobs for featurizers is 1, i.e., serial jobs.:

matminer/featurizers/base.py:105

This choice is in-line with what sklearn featurizers do, e.g.:

http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

I'd suggest being more aggressive and setting this equal to cpu_count() - i.e., to use full parallelization by default. For example, th

[2018-02-21 23:12] WardLT commented on #161
In retrospect, I think these parameters would be better off in the constructor. That way, you need to provide them at fit time every time you fit the PRDF.

I'm having trouble figuring out an argument for keeping them in the fit function that I'd be happy with. I'll issue a quick PR to move them to init().

[2018-02-21 23:14] computron commented on #135
Closing this now based on https://github.com/hackingmaterials/matminer/pull/156

[2018-02-21 23:14] #135 closed

[2018-02-21 23:28] ardunn commented on #162
My vote is for `cpu_count()` as default

[2018-02-21 23:38] WardLT commented on #162
I vote `cpu_count()` too. I was originally feeling conservative, but don't think we'll have too many cases where someone would be upset our code is running in parallel.

I also like the idea of adding a configuration variable.

[2018-02-22 01:02] #161 closed

[2018-02-22 01:28] computron opened #166 "why double_underscore variables?"
e.g. BaseFeaturizer has ``__ignore_errors`` which is double underscore. Why not single underscore ``_ignore_errors``?

[2018-02-22 01:29] computron commented on #154
Closed via https://github.com/hackingmaterials/matminer/pull/165

[2018-02-22 01:29] #154 closed

[2018-02-22 01:31] computron commented on #128
Closing for now. Note that another option is that if a preset is "strong" enough (we really advocate for that preset, or there is a paper that advocates for that combination of settings that can be cited) we can create a new featurizer for it. That new featurizer can basically just call the old featurizer with the chosen parameter set. It should help in discoverability of that preset.

[2018-02-22 01:31] #128 closed

[2018-02-22 01:40] ardunn commented on #166
@WardLT and I talked about this is #119 I think. Double underscore prepends the class name (in this case the parent class `BaseFeaturizer`) to `__ignore_errors` with "name mangling".

This would be useful in the case when `._ignore_errors` is some private attribute of a Featurizer, since `_ignore_errors` can be overridden by the child but `_BaseFeaturizer__ignore_errors` cannot. Outside of that us

[2018-02-22 01:46] computron commented on #166
OK sounds reasonable, thanks!

[2018-02-22 01:46] #166 closed

[2018-02-22 02:06] computron commented on #159
Note - for the naming I'd go with ``Matrix`` over ``Tensor``.  A lot of the proposed 2D objects are not real tensors (don't transform in space like tensors) so matrix is probably a better name.

[2018-02-22 23:10] sam14au opened #167 "Branch Point Energy calculation issue"
I’m trying to use matminer to calculate the branch point energy but this requires the uniform band structure. I'm using an API to pull the band structure from Materials Project but from what I can tell, it is only possible to get the band structure at line mode band structure using MPRester. Is there any way to use an API to get the uniform band structure for a list of compounds from MP, allowing

[2018-02-22 23:26] computron commented on #167
- It is true that MP doesn't have a way to pull uniform band structures. I have advocated for this for some time, but it is really something that needs to be coordinated with Materials Project and not matminer. I see you have posted an issue to the MP forum, that is the appropriate venue for the request.
- For BPE with line mode, BPE is intended to take an integral over all of k-space. A line-mode

[2018-02-22 23:26] #167 closed

[2018-02-22 23:32] sam14au commented on #167
Thanks, I'll watch the response on that forum as well. Please keep me updated about the status as to whether (and when) this might be implemented.

[2018-02-23 19:49] computron opened #169 "Make all data getters inherit from a single base class"
As suggested by @WardLT

[code]

See https://github.com/hackingmaterials/matminer/pull/155

[2018-02-26 02:20] ardunn commented on #97
this is done (excluding hashing tricks)

[2018-02-26 02:20] #97 closed

[2018-02-27 20:29] computron opened #174 "Put all matminer examples in the matminer_examples repo"
@montoyjh

Can you put all matminer examples (e.g. ipynb notebooks) in this repo:

https://github.com/hackingmaterials/matminer_examples

It will prevent bloat of the main matminer repo while having a central place for examples. Feel free to add anything that's missing to that repo or a directory structure, for now I just put a bare-bones version.

Make sure you find all .ipynb notebooks in matmin

[2018-03-01 23:50] shyamd opened #178 "Yaml files not showing up in Pypi package"
Installing matminer with pip works fine, but upon use certain yaml files don't seem to be there. This was a classic issue with atomate and I don't remember what fixed it.
For instance:
FileNotFoundError: [Errno 2] No such file or directory: '/Users/shyamd/.virtualenvs/py3/lib/python3.6/site-packages/matminer/featurizers/cn_target_motif_op.yaml

[2018-03-01 23:57] computron commented on #178
@nisse3000

if you add YAML files (or any non .py) files to matminer you need to also update:

- MANIFEST.in (note that recursive-include doesn't always work, so having explicit include is usually better)
- setup.py (the package_data variable)

I just did this via 37a06d604d3df9a8990177e1fd208d19825c041c

I will push a new release tomorrow, please re-open this issue if you still see issues after t

[2018-03-01 23:57] #178 closed

[2018-03-02 00:52] computron commented on #174
(also update the docs with the new locations of the examples)

[2018-03-02 21:05] ardunn opened #181 "PlotlyFig xy issues"
Issues include:
- its hard to just plot a set of lines with colors specified by an array of colors. The markers change colors but the *lines* do not change colors

EDIT: removed colorbar issue and moved to #188

[2018-03-02 23:27] ardunn opened #182 "AFS and GDRF do not work in for parallel featurization"
@dyllamt

They include lambda expressions, which means they cannot be pickled by multiprocessing and they fail when n_jobs > 1.

3/2/2018 - As of right now, both of these Featurizers have warnings in the constructor which set_n_jobs to 1 if n_jobs > 1, so tests still pass.

[2018-03-02 23:29] #162 closed

[2018-03-03 01:04] montoyjh commented on #174
Yes, I like this solution.  Should be able to update by early next week.

[2018-03-05 19:52] dyllamt commented on #92
@computron

I think we can close this issue. There are some wrinkles getting ironed out with multiprocessing, but AFS and GRDF were implemented in pull request #138

[2018-03-05 20:25] dyllamt commented on #182
There is a project which allows multiprocessing with lambda functions. It is a fork of multiprocessing that uses dill as the pickling agent, which does handle lambda functions. See link below.

The project is actively in development and is part of the pathos project.

https://github.com/uqfoundation/multiprocess

[2018-03-05 20:27] dyllamt commented on #182
We could use this upgraded multiprocessing module, but should make sure others are ok with this change.

[2018-03-05 21:01] ardunn commented on #182
@dyllamt I am not against `dill`, but in general the less dependencies we have the better imo. Is there any way we could rewrite without the lambdas?

For example, could the `integrate.quad` statement which requires a lambda just be a simple expression (the analytical solution to that integral)?

The utility sorted key lambda looks like it can be kept without the lambda by adding a line or two may

[2018-03-05 21:04] WardLT commented on #182
Is it the use of lambdas in quad that is the problem, or the use of them when defining the binning windows? (see [this line](https://github.com/hackingmaterials/matminer/blob/4e63fc8e7d7703c7bb0860d0b94d34b6b586b7d6/matminer/featurizers/tests/test_site.py#L355))

[2018-03-05 22:20] dyllamt commented on #182
@ardunn, The reason I have `integrate.quad` in the code is so that a user can use any function that they want as the bin. For that reason, I wouldn't want to put in the analytical solution for the integral. Rewriting the sorting function without lambdas is possible, but not allowing arbitrary functions for the bins defeats the generality of this featurizer.

@WardLT, the problem with using the lam

[2018-03-06 22:56] computron commented on #92
Ok closing

Will weigh in on the other stuff later, I try to do most code reviews Friday.

[2018-03-06 22:56] #92 closed

[2018-03-07 01:13] computron commented on #182
@dyllamt if you really want to go the alternate multiprocess route you need to do more work to show

- this will not make it more difficult for people to install matminer (I was able to pip install the library without a problem)
- this will not cause other featurizers to break (i.e., all the other unit tests will pass after making the switch)
- this will not result in performance degradation or ot

[2018-03-07 01:15] computron opened #184 "AFS should have better presets"
@dyllamt

It is asking too much of the user to require them to figure out what functions to use if they just want to try the AFS featurizer. There should be some from_preset("") options that allow the user to get some common functions used without having to read the paper and code up the appropriate lambda functions.

[2018-03-07 19:08] afonari opened #185 "Clarify LICENSE"
Hi,

Is the license MIT?

It is not clear from the LICENSE file.

Thanks,
Alexandr

[2018-03-07 19:32] computron commented on #185
Hi Alexandr,

The LICENSE file is a modified BSD (BSD-style) used by Berkeley lab. The chief difference between BSD and MIT is that BSD tries to protect against usage of the Berkeley lab name / brand in promoting products that derive from the code.

To be honest I am not sure what you mean by "clarifying" the license. It is a pretty short license text that explains what you can / cannot do and sim

[2018-03-07 19:32] #185 closed

[2018-03-07 19:35] afonari commented on #185
Thanks for the explanation.

[2018-03-07 22:39] albalu opened #188 "figrecipes: docs, cleanup"
1) better docs for xy plot (currently user may think that they need to pass zip(x,y) )
2) cleanup: make better use of functions that check the input type (e.g. similar to data_from_col), make the code more clear

[2018-03-08 20:31] dyllamt commented on #184
Presets added in pull request #190.

Maybe similar presets should be added for GRDF, since the user needs to specify bin functions for that too.

[2018-03-08 20:32] dyllamt commented on #184
Let me know if you agree with adding presets to GRDF and I'll add them.

[2018-03-08 20:44] dyllamt commented on #184
Actually, I just went ahead and added them. Easy addition, although repetitive in the code. If another featurizer used binning functions I would consider making a class for generating the bin functions.

[2018-03-08 21:12] computron commented on #184
Thanks!

[2018-03-08 21:12] #184 closed

[2018-03-22 00:46] ardunn opened #192 "Add BoB extension (or new BoB Featurizer) based on original BoB paper"
Current BoB lists number of bonds by fraction (+ approximations and other fancy stuff).
In [original paper,](https://pubs.acs.org/doi/pdf/10.1021/acs.jpclett.5b00831) BoB is a vectorization of the Coloumb matrix, with each bag sorted by magnitude and 0-padded (see Figure 3).

A featurizer like what is described in the paper would be a dataframe-friendly extension of CoulombMatrix, since end result

[2018-03-22 00:51] ardunn commented on #192
Old BoB should be renamed "SumOverBonds" (as per the original paper) or "BondFractions"

[2018-03-23 15:05] WardLT commented on #91
I'm gradually working on this issue. If anyone else is working on it or wants to, let me know and we can figure out how to combine efforts.

[2018-03-23 15:26] WardLT opened #193 "Add summary of featurizers to documentation"
The draft of our paper contains a list of all of the featurizers as a nice summary table. We should add something similar to our documentation, and keep it up to date.

[2018-03-23 17:40] computron commented on #193
I think this would be useful, but I also think these things can be difficult to maintain and keep up to date. It takes a lot of discipline and remembering to do it which people don't usually have - i.e., to keep the list of features, their descriptions (e.g. if we add more features, etc), and potentially even citations up to date).

 It might be easier and more sustainable to just:

1. link to the

[2018-03-23 17:41] computron commented on #193
(this would also help make sure that docstrings are accurate, e.g., I just noticed that DensityFeatures doesn't have one by browsing the above)

[2018-03-23 17:41] computron opened #194 "DensityFeatures needs docstring ..."

[2018-03-23 18:08] WardLT commented on #193
I agree, maintaining a table by hand would be impractical.

What I was thinking of was something like option 2: Writing a script that will retrieve the first sentence of the docstring for each featurizer and combine them into table. We'd have to ensure that the first line is an adequate summary of the featurizer, but that high-level summary would hopefully remain accurate even with changes to feat

[2018-03-23 18:16] computron commented on #193
That sounds good to me, as long as it is leveraging the existing docstring and not trying to create a new description

[2018-03-23 18:23] WardLT commented on #91
Thanks, @Qi-max! I'm about halfway done with the features from the PRB article, which will cover most of the Sci Rep features. So, it is probably easiest for me to finish those two papers myself.

Would you want to start on the Nat. Comm features?

Also, the areas that I haven't figured out yet:

1. Getting 2nd-nearest neighbors from the NearNeighbor pymatgen classes, which are needed for some of

[2018-03-23 21:49] Qi-max commented on #91
Hi Logan,

Thank for your reply!

for 1, I think adding an additional method to the NearNeighbor classes to get 2nd-nn is a good way to go. I am only a bit concerned about the performance issue, as it may includes some repeated calculation of 1st-nn in real applications. eg., if we want to get 2nd-nn of each atom in the structure and we already calculated the 1st-nn of all atoms (which is a more c

[2018-03-24 00:18] computron commented on #174
pretty sure this is done, closing

[2018-03-24 00:18] #174 closed

[2018-03-24 00:19] computron commented on #89
The tutorials have been fixed and moved to matminer_examples, I'm considering this closed; additional thoughts should go to the matminer_examples repo

[2018-03-24 00:19] #89 closed

[2018-03-24 00:24] #194 closed

[2018-03-25 23:41] WardLT commented on #91
_2nd NN determination_: I think you make a good point about avoiding repeatedly calculating the first nearest neighbors. I'll starting to work on that code soon, and I'll tag you on the PR in case you want to critique it.

_Neighboring Site Featurizer_: Something like SiteStatsFeaturizer could work for that kind of feature. I'll keep that use case in mind when writing the 2nd NN code, so that you

[2018-03-28 17:51] Qi-max commented on #91
Hi Logan,

I like your implementation of Nth nearest neighbors and additional Voronoi weighting methods!  For caching, I also perfer option 1, and I think your points about a new utility function and implementing `__eq__` and `__hash__` in related classes are quite reasonable. I think it is worth doing, despite introducing some extra complexity, but we at least leave an option (maybe default as Fa

[2018-04-01 22:30] #117 closed

[2018-04-01 22:31] computron commented on #113
@ardunn do you consider this complete? if so can you close?

[2018-04-02 02:07] WardLT commented on #91
Well, I got it below 1s per structure (latest is 0.8s). I'll open a PR if/when my changes to pymatgen get approved. We can now featurize the FLLA dataset in ~50 minutes.

[2018-04-02 07:03] ardunn commented on #113
@computron This is definitely not complete. I removed it from a previous PR because it made the PR too complicated. It is on the "todos" though

[2018-04-02 17:39] computron commented on #91
All, sorry I haven't had a chance to review this thread in detail (and likely might not be able to for a bit, so feel free to continue w/o me).

My suggestion based just on skimming is to look into some of the "memoize" decorators in Python to see if you can avoid recomputing. Not sure how this compares with the current solution

[2018-04-02 17:42] computron commented on #91
Also an LRI cache might(?) be faster than an LRU one and be similar for our use case. See:

http://boltons.readthedocs.io/en/latest/cacheutils.html

[2018-04-11 00:05] ardunn commented on #193
@WardLT do you have a WIP for this? If not, I will try my hand at writing a script. I think it would give a huge usability boost to matminer. Especially if we could have a readable table for each 'type' (structure, site, composition, etc.) somewhere on the matminer docs pages ...  for example, a 'featurizers summary' page where the auto-generated tables would reside.

[2018-04-11 01:06] WardLT commented on #193
I have not started on this and agree a table for each type would be awesome.

I look forward to seeing what you come up with!

On Tue, Apr 10, 2018, 7:05 PM Alex Dunn <notifications@github.com> wrote:

[2018-04-11 05:38] ardunn commented on #193
Alright, does the below example image (only of structure and compositon) look acceptable? if so, I can make a PR.

![image](https://user-images.githubusercontent.com/19936203/38598019-90418b62-3d0f-11e8-8c20-b2d98603fe51.png)

I wound up modifying make-doc to call a function in utils which generates the rst file, under a new "Featurizer Summary" page. Everything is auto-generated using the first l

[2018-04-11 15:59] computron commented on #193
Is it straightforward to add a link to more information at the end of the description that goes to the full doc? You can use the HTML id anchors (hashtag) to get to a particular class's doc.

e.g. For EwaldSiteEnergy you put the description as: "Compute site energy from Coulombic interactions. [more]"

and the more link goes to:
https://hackingmaterials.github.io/matminer/matminer.featurizers.html

[2018-04-11 19:29] ardunn commented on #193
Yeah. Here's an example of what it looks like now:
![image](https://user-images.githubusercontent.com/19936203/38638669-dc4f4d36-3d83-11e8-9391-15cabd32f054.png)

[2018-04-12 16:09] computron opened #201 "minor adjustments to home page"
@ardunn

1. change the x-range for the interactive bulk modulus plot to end at 300 GPa. The plot will look nicer
2. make the Table of Featurizers more prominent somehow. I think most people will miss it. One thing you can do is put it in multiple places - for example, also link to it in the second bullet point for "matminer makes it easy to".

[2018-04-12 16:19] ardunn commented on #192
This is done apparently

[2018-04-12 16:19] #192 closed

[2018-04-12 16:31] computron commented on #201
I did the bullet point for 2 - if you have other ideas for prominence they are welcome. Otherwise I'd say just bullet point 1 then close

[2018-04-12 17:11] ardunn commented on #181
Also xy does not have a "limits" arg for its axes. Although a limits arg can either go in constructor or in .xy, probably better if it just goes in xy because that will be the most common use case by far, and other plotting methods being restricted by limits can cause huge issues + complexity (eg what are the limits on a heatmap)

Limits can be done with ['layout']['xaxis']['range'] = [lower, high

[2018-04-12 17:46] computron commented on #181
In that case I think it's even more interesting to have limits as part of the example. It's a common thing people might want to do so showing them how to do it would be useful

[2018-04-12 17:48] #201 closed

[2018-04-13 16:27] computron commented on #181
Can you add the axis limiting code to one of the matminer_examples examples? That is a good place for something that is a little more complex yet nevertheless useful to the user

Close this if the above is already true or if you finish the above

[2018-04-13 17:44] ardunn commented on #181
Yep, will do. I working out some of the kinks making a PR to add limits plus fix a few other issues listed here.

[2018-04-13 21:14] ardunn commented on #188
Also:

- There is a colorbar whenever you pass the colorbar argument in, which is not needed sometimes. maybe needs a redesign/different args to be more clear?

[2018-04-13 22:10] ardunn opened #204 "example_notebooks folder?"
@WardLT can we move this OQMD example to matminer_examples?

[2018-04-13 23:20] ardunn opened #205 "new site featurizer: A3, improved angular distribution function"
[link to paper](https://aip.scitation.org/doi/pdf/10.1063/1.5020710)

[2018-04-14 00:00] #181 closed

[2018-04-14 00:01] computron commented on #81
just an update, this is now in progress ...

[2018-04-19 22:01] ardunn commented on #204
@WardLT ok, I will delete this folder then

[2018-04-19 22:04] #204 closed

[2018-04-19 22:34] nisse3000 opened #208 "Cation-anion flag in CrystalSiteFingerprint typically fails to function"
I tested a lot of instances in which I used the cation-anion flag in CrystalSiteFingerprint for structures retrieved from MP, and it always failed. The problem is the "specie" attribute that is to be used sparingly according to the pymatgen documentation. I think the motivation using the specie attribute was that people would decorate their structures with oxidation states before featurizing. But

[2018-04-19 22:40] computron commented on #208
The quick reply is that you either need to supply an oxidation-decorated structure for the cation-anion flag (in any featurizer), or if you have a structure that doesn't have oxidation assignments, to use the structure_to_oxidstructure() method in matminer conversions to guess the oxidations.

I'd rather just put a clearer error saying that the Structure requires oxidation states and the user can

[2018-04-19 22:46] nisse3000 commented on #147
Those are in place since 2 months. I guess this issue can be closed.

[2018-04-19 22:48] nisse3000 commented on #208
Then, I'll go ahead and insert a corresponding sentence in the documentation. My feeling is that this is necessary to avoid confusion among users.

[2018-04-19 23:50] computron commented on #147
Thanks!

[2018-04-19 23:50] #147 closed

[2018-04-27 16:35] computron opened #213 "Structure featurizers should return equal-length vector of features"
A condition we would like to maintain for a structure featurizer is that regardless of the number (or order) of sites in the structure, it returns a consistent number and order of features. At the very least, the featurizer should have an *option* (probably default) to operate in this way. Otherwise the featurizer cannot be used as black-box.

The ``GRDF`` and ``AFS`` featurizers were identified a

[2018-04-27 16:49] computron commented on #145
@saurabh02 Basically we just want to know which of these two sources, or if it was a combination of both, that you got the cohesive energy data file from:

        return [
            "@misc{, title = {{Knowledgedoor Cohesive energy handbook}}, "
            "url = {http://www.knowledgedoor.com/2/elements{\_}handbook/cohesive{\_}energy.html}}",
            "@book{Kittel, author = {Kittel, C}, isb

[2018-04-27 17:50] saurabh02 commented on #145
@computron sorry i missed seeing the notification for this.

[2018-04-27 18:21] computron opened #215 "create demo notebook for functionfeaturizer"
as requested on matminer help list (somehow not showing up on Google groups)

[2018-04-27 18:47] dyllamt commented on #205
@ardunn, am I interpreting the distribution function correctly? There are two additional coordinates to the ADF in addition to angle and distance: atomic period and group? So, this is a four-dimensional representation of the site environment that captures angles, distances, and chemistry (group/period).

[2018-04-27 21:55] computron commented on #145
Got, it thanks! Resolved via: 	481f5b66b18a7704f0327b1ddc26b8cb40de72a4

[2018-04-27 21:55] #145 closed

[2018-04-27 22:41] ardunn commented on #213
I would consider the "equal length" versions of `CoulombMatrix` and `SineCoulombMatrix` taken care of by `BagofBonds`. Perhaps we could keep the functionality of these "heterogeneous" featurizers but move them and label them as something other than featurizers?

[2018-04-29 17:56] montoyjh opened #217 "functionfeaturizer doesn't work with MultipleFeaturizer"
Because of the column dependence of FunctionFeaturizer (which we solved previously by making feature_labels() None and postprocessing the dataframe in featurize_dataframe), it doesn't play nicely with MultipleFeaturizer.  This seems not ideal, since I'd imagine function featurizer would often be used in a multiplefeaturizer context, but we're going to need to revisit how to flexibly handle feature

[2018-05-07 22:30] computron opened #220 "enhancement to FunctionFeaturizer"
One potential new capability of the FunctionFeaturizer (or derivative of it) would be a ``fit()`` type method that would try a bunch of functions for a single variable and relate it to an output variable. Then, pick the functional form that best correlates with the output as your descriptor.

e.g., I have a descriptor like "avg mass" and want to correlate this with the output "thermal conductivity

[2018-05-18 17:30] ardunn opened #227 "Fix MDFDataRetrieval and MPDSDataRetrieval"
The `properties` argument does not do anything in MDF class
The `properties` argument does not work in MPDS class

[2018-05-21 19:52] computron commented on #213
Another thing I would like to do:

For a structure with N sites, compute the the fingerprints (of length M) for each site. So now we have an N x M matrix of numbers of the structure.

Personally, I'd like to take the max across the rows (maximum fingerprint value for a single site), which will result in N maximum values for fingerprint. Then I'd like to take the average of those N numbers, yieldin

[2018-05-21 19:58] computron commented on #217
@montoyjh should I close this?

[2018-05-21 19:59] computron commented on #215
(closing here and moving to matminer_examples repo)

[2018-05-21 19:59] #215 closed

[2018-05-21 21:04] montoyjh commented on #217
Yep, I believe it's been addressed.

[2018-05-21 21:08] #217 closed

[2018-05-23 17:07] computron opened #232 "figrecipes should use palettable colors"
https://jiffyclub.github.io/palettable/

For example, pymatgen DOSPlotter uses this to set color libraries

See also seaborn color palettes:

http://seaborn.pydata.org/tutorial/color_palettes.html

[2018-05-23 18:20] ardunn commented on #232
I agree. The colormaps seem to be intended for matplotlib but it doesn't look like there is any reason they wouldn't work with Plotly *crosses fingers*

[2018-05-25 17:28] computron commented on #93
@ardunn @WardLT Should this issue be considered closed?

Note that for 90% ``nan`` errors, I think we should just have a separate utility function for that OR just put that kind of filtering in our example notebooks using standard pandas tools (rather than build it into the featurize_dataframe).

[2018-05-25 17:29] computron commented on #91
@WardLT @Qi-max should this issue be considered closed?

[2018-05-25 19:12] ardunn commented on #93
@computron This issue is closed. Also note my comments above are woefully outdated. I think the capabilities of matminer now (ie having both return_errors and ignore_errors) is sufficient for a user to figure out how a featurization went awry. I agree that the 90% thing should be taken care of by pandas once the df is returned.

[2018-05-25 19:12] #93 closed

[2018-05-25 20:34] computron opened #234 "width for docs is too small"
Can we make it 25% bigger?

![screen shot 2018-05-25 at 1 33 38 pm](https://user-images.githubusercontent.com/986759/40565163-4d421e7e-6020-11e8-955c-467ba7a9a4b4.png)

[2018-05-25 20:34] computron commented on #234
(this would be max_width being 25% bigger)

[2018-05-25 20:49] ardunn commented on #234
Just added a commit which sets the max width to 1000px (it was 800px before)

For reference, max-width in docs_rst/nature.css needed to be added for div.body

[2018-05-25 20:49] #234 closed

[2018-05-29 22:00] computron opened #235 "Add utility function to scale structures to DLS volume"
In case you don't have the correct structure volume to begin with

This might be a little wonky though given that DLS doesn't always produce good results

[2018-06-01 20:22] computron commented on #129
Another thing one could do is:

- "pymatgen" preset just contains a large list of pymatgen element properties
- add a new "matminer" preset that tries to find all the independent columns between DEML, Magpie, pymatgen (i.e., columns that are not just linearly dependent on one another) and combine all those into one preset.

[2018-06-01 20:46] ardunn opened #236 "MultipleFeaturizer has no fit_featurize_dataframe method"
This would be a nice addition, since both fittable and non-fittable featurizers should already work with fit_featurize_dataframe.

[2018-06-01 21:02] computron opened #237 "deprecate CrystalSiteFingerprint"
CrystalSiteFingerprint is basically replaced by CrystalNNFingerprint

Suggest we move it to featurizers->deprecated.py (create that file) and add a ``@deprecated`` tag that says it is superceded by CrystalNNFingerprint

[2018-06-03 18:28] computron opened #239 "powder XRD structure descriptor"
The pymatgen powder XRD pattern could be used as a structure descriptor.

- possibly smooth it first or add an option to smooth
- rather than taking discrete values, might want to integrate the value in a bin. e.g., 0-1 degree, 1-2 degree, etc.

Not sure how well it would work, but at least an option to try.

[2018-06-03 18:37] computron opened #240 "partial DOS featurizer"
A DOS featurizer that is a 16-element vector of the various s, p, d, f overlaps

i.e., s-s interaction is the square of the s-projected DOS, s-p interaction is the multiplication of the s projected and p-projected DOS, etc

Then, integrate the value of each of these interactions either to fixed energy cutoff (Max Dylla way) or using Fermi energy smearing (AJ way) to produce a single number for eac

[2018-06-03 19:13] albalu commented on #240
We discussed this yesterday with Max. I will take care of it via BandEdge dos featurizer which optionally returns:

1) cbm_ vbm_ s, p, d, f
2) cbm_ vbm_ sp, sd, sf, pd, pf, df
3) cbm_Pb_s, cbm_Pb_p, ... vbm_Pb_s, .... where Pb is optionally set as one of the species in species=[str] input arg

the energy_cutoff can be set to a fixed number in class instantiation or a variable featurize arg (option

[2018-06-04 13:39] WardLT opened #241 "Add the Many-Body Tensor Representation"
Matthias Rupp will be open sourcing source code the [Many-Body Tensor Representation](https://arxiv.org/pdf/1704.06439.pdf). We should build a wrapper to implement the BaseFeaturizer API, either for his package or ours.

@computron - Mathias mentions you have already done this, right?

[2018-06-04 17:22] computron commented on #241
@kylebystrom was working on this; I believe he already had something in place, but he should probably give the update.

I would suggest to have the Python featurizer interface in matminer itself (the one that extends BaseFeaturizer), this will keep all the featurizers in one place. The featurizer can have a dependency if needed to some other code (e.g., qmmlpack, etc.) that might need to be compil

[2018-06-04 17:40] computron commented on #240
Ok - note that the "Fermi energy smearing" is basically a smooth cutoff rather than a hard cutoff, see the paper:

https://www.cambridge.org/core/journals/journal-of-materials-research/article/new-opportunities-for-materials-informatics-resources-and-data-mining-techniques-for-uncovering-hidden-relationships/EF98DD1402C43B3B683F603284C0AD62

[2018-06-06 17:53] ardunn opened #243 "qlaunch -m doesn't work on slurm sometimes"
Both @albalu and I have this problem on cori, qlaunch is just unable to get the number of jobs in the queue. You can get this info on shell via squeue, so there shouldn't be any reason FWs can't get the number of jobs in the queue

**If there is existing workaround issue/tracker for this, pls close this issue

[2018-06-06 18:17] computron commented on #237
done via: a571aa39f0032a23c23016cc0d2c7a3ebafd39ba

[2018-06-06 18:17] #237 closed

[2018-06-06 20:36] computron commented on #243
Someone needs to look into the function:

fireworks.user_objects.queue_adapters.common_adapter.CommonAdapter#get_njobs_in_queue

For SLURM, it is using "squeue" as the queue status command (perhaps with additional flags for username, etc). You'll need to see what's going wrong in:

fireworks.user_objects.queue_adapters.common_adapter.CommonAdapter#_parse_njobs

In particular for SLURM it's using:

[2018-06-06 20:45] computron commented on #243
Looking at this with @ardunn , it looks like his ``queue`` field in ``my_adapter`` is strange in that it also has a ``-C cori,knl,etc...``` tag as part of it.

[2018-06-06 21:08] computron commented on #243
Fixed by moving the "#SBATCH -C blah,blah" options to ``pre_rocket`` section of my_qadapter.yaml

[2018-06-06 21:08] #243 closed

[2018-06-06 21:48] computron commented on #150
closed via 58d8f72d7c93e6a058666713df4dbf268dd5a06b

[2018-06-06 21:48] #150 closed

[2018-06-06 21:48] computron commented on #149
58d8f72d7c93e6a058666713df4dbf268dd5a06b

[2018-06-06 21:48] #149 closed

[2018-06-06 21:48] computron commented on #141
58d8f72d7c93e6a058666713df4dbf268dd5a06b

[2018-06-06 21:48] #141 closed

[2018-06-06 22:04] albalu commented on #240
This should be addressed via #244 . The smearing is always done with the default bandwidth of 0.1 eV

[2018-06-06 22:20] spacedome commented on #220
In scikit-learn this can be done using the feature_selection module. Feature selection is often integrated into the pipeline as it can depend on the training of the final estimator. Usually in scikit-learn it is part of the pre-processing steps. With methods like feature elimination, it is not known what features are important until after the model is trained. It is also common to do implicit basi

[2018-06-06 22:20] computron commented on #240
Ok but the smearing I am talking about is different.

I think you and Max both design metrics that are "hard" - i.e., a hard cutoff of how deep into the bands to go or an integer number for the number of significant contributors with a "hard" cutoff on what is considered significant. I tend to design and prefer metrics that are smooth and continuous.

For example, to see how deep into the bands to

[2018-06-06 22:20] #240 closed

[2018-06-06 22:21] computron opened #246 "make the DOS featurizers more "smooth" and less "hard""
See discussion on:

https://github.com/hackingmaterials/matminer/issues/240#issuecomment-395229082

[2018-06-06 22:30] computron commented on #220
This proposal is different than the feature_selection module. One could indeed do the following:

- start with 10 features
- use FunctionFeaturizer to generate 10,000 total features (1000 per initial feature)
- reduce that back down to 10 features using the feature_selection methods in scikit learn

But that's not the proposal. The proposal is:
- Start with 1 of the 10 features
- Generate 1000 fea

[2018-06-07 07:43] WardLT commented on #91
[Sorry for the slow response]

I don't think this issue is quite closed. There is still a little work to go for the de Jong features (e.g., adding the variance of neighbor properties, building presets and examples), and a bit for the Isayev features (we might need to extend the bond fragment work).

[2018-06-07 22:40] computron commented on #220
After reading a little more on feature selection, I don't think this feature is needed. It's probably better just to generate *all* the features using FunctionFeaturizer and then use some standard feature selection strategy or an ML method that incorporates some kind of regularization to reduce down the feature set rather than the method outlined here.

[2018-06-07 22:40] #220 closed

[2018-06-07 22:46] computron commented on #235
No longer think this is a good idea, people can do it if they want manually w/o having an atomate utility function (it's probably not useful enough for the utility function)

[2018-06-07 22:46] #235 closed

[2018-06-08 00:06] computron commented on #239
closed via:

539f08fe9b471d281f587fa15e8b002a6aa11e96

[2018-06-08 00:06] #239 closed

[2018-06-08 01:54] ardunn commented on #232
Upon actually trying this, Paletteable and FigRecipes often really don't play nice together. Mostly because converting matplotlib color maps into Plotly-capable format doesn't work outside of the few examples Plotly provides. Perhaps we could choose one of the better Plotly colormaps to be the FigRecipes default?

[2018-06-08 02:02] ardunn commented on #232
@albalu do we have an example of a custom (ie, non-Plotly) colorscale (ie, a list) being used in figrecipes?

[2018-06-08 02:35] albalu commented on #232
No we always used one of the pre-defined ones.

[2018-06-08 21:19] computron commented on #160
Closed via: cc2edbfe0189fa509fe52a00c3b5890c3202c5ac

[2018-06-08 21:19] #160 closed

[2018-06-08 22:13] #113 closed

[2018-06-08 22:13] #236 closed

[2018-06-12 16:57] computron opened #253 "A structure descriptor that is the number of symmetry operations in the spacegroup"
This could be added to the existing GlobalSymmetryFeaturizer

Henrique Miranda suggested that instead of just numbering the spacegroups from 1-235, to have a number representing the number of operations in the spacegroup. More operations means more symmetry.

It's a good idea.

Need to see how to do it in pymatgen. Need to make sure that something like a 4-fold axis is represented 3 times (1/4, 2/

[2018-06-12 22:03] ardunn commented on #232
@albalu I think for this a good option here to define a function that, given a Paletteable string and a number _n_ of colors to return, returns a list of _n_ "equally spaced" hex colors. Then you can just plug that list into whatever plotlyfig args you want

[2018-06-12 22:06] computron commented on #232
You might want to consult with @mkhorton , he is good with colors

[2018-06-12 22:17] nisse3000 opened #254 "Unpractical to pass a dictionary to CrystalNNFingerprint when aiming at augmenting with chemical information"
Referring here to a comment by @computron in PR #250:

"In practice, I think people are going to have a hard time passing in the chem_info dict and find this to be a pain to use. While flexible, normally you have a dataset of 1000 compounds and don't want to manually construct a dictionary of all possible species to some value like electronegativity.

It might be better if this was able to easily

[2018-06-12 22:20] mkhorton commented on #232
If you want n colors from a qualitative color map, you can do that in Palettable e.g. via:

[code]

It's tricky to get large palettes that are also color-blind safe however, e.g. see http://mkweb.bcgsc.ca/colorblind/ for some examples of [7 color palettes](http://mkweb.bcgsc.ca/colorblind/img/colorblindness.palettes.trivial.png) and [12 color palettes](http://mkweb.bcgsc.ca/colorblind/img/colorbli

[2018-06-12 22:31] ardunn commented on #232
@mkhorton Awesome! Thanks

@albalu I think we need to specify exactly what the `colorscale` and `colors` args mean, otherwise this is gonna get very confusing.

[2018-06-12 22:42] computron commented on #232
Btw I sometimes use the app "Color Oracle" to get a sense of how a certain color scheme will work (or not work) for color blindness. I'd rate it as something to not prioritize for default color scheme but to have an option to use color blind safe colors

Btw that web page @mkhorton sent out makes me wonder how many traffic accidents are caused by a poor color choice for traffic lights ...

[2018-06-12 22:47] mkhorton commented on #232
https://link.springer.com/chapter/10.1007/978-94-011-5408-6_54

[xScope](https://xscopeapp.com) is a really nice app for simulating color blindness too, though I don't have a copy of the latest version sadly

[2018-06-14 05:53] ardunn opened #255 "PlotlyFig heatmap, triangle, violin, and bar don't work with hover* options"
Particularly, hoverinfo does not work in any of these. It displays the default hoverinfo regardless of the plotlyfig hoverinfo value. Hovermode has the same problem.

[2018-06-14 16:11] computron commented on #255
What would you expect the hoverinfo to be able to show for these kinds of plots? Unlike the scatter plot, each "point" to hover over is not a single material.

[2018-06-14 17:57] ardunn commented on #255
- On a bar plot, you might only want to show the y value, not the x.
![bar](https://user-images.githubusercontent.com/19936203/41428592-68b1d876-6fbf-11e8-9994-276ae29f2521.png)
- On a heatmap, you might only want to show z, not x and y
![heat](https://user-images.githubusercontent.com/19936203/41428774-eeb0afba-6fbf-11e8-9ac2-b9c881483454.png)
- In the ternary plot, it might be useful to identify

[2018-06-14 23:47] computron commented on #255
* The ternary plot I think you definitely want to know the point
* The bar plot - the y value would be nice to have
* Heatmap - doesn't seem so important to only show z
* Violin - not much use as you said

[2018-06-15 10:29] albalu commented on #255
Ternary plot supports labels just like xy. We can rename if it's not intuitive but you just need to set labels = ['mpid', 'formula'] or labels='formula'; we can either override hoverinfo input or just throw an error if it was set and say set the labels instead?

[2018-06-15 17:36] ardunn commented on #255
@albalu the issue is that you may not want to display the x/y/z coordinates in ternary while using custom labels.

I think this issue can be solved for any plotly plot by just passing hoverinfo=self.hoverinfo into the plotting function (eg. `go.Bar`) **or** setting a key in the layout.

[2018-06-21 21:06] computron opened #256 "integrate AMP descriptors into matminer"
It would be great if the site descriptors included in the AMP library:

https://amp.readthedocs.io/en/latest/

could be integrated with atomate.

It would require the user to install AMP, but there would be some adapter to compute the AMP-supported fingerprints with matminer.

[2018-06-22 00:05] computron opened #257 "issue in GDRF?"
See:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/matminer/WoSShQmpgKA/3MgdVWL3AgAJ

[2018-06-22 00:31] computron opened #258 "MPDataRetrieval not convenient for band structures / DOS"
From an email thread that somehow is not appearing on the matminer Google group

Hi Xinyu,

The Materials API (which MPDataRetrieval is based on) only returns a *pointer* to the band structure object, see:

https://github.com/materialsproject/mapidoc/tree/master/materials/band_structure

You can get it to work using code like the following:
[code]

I can add an issue to matminer to make this kind

[2018-06-24 23:58] computron opened #259 "The neighbor environments from CrystalNN can have additional stats"
Currently, the CrystalNN site fingerprint gives values that are essentially "volume invariant" (some of the chemical bonding cutoffs can change this, but the base algorithm behaves like this)

It would be nice to include some other statistics like "polyhedral volume" or "Voronoi statistics" or "average bond length" weighted by the different environments. e.g., if a site is 75% tetrahedral and 25%

[2018-06-26 17:48] computron opened #261 "NIST JARVIS dataset as a matminer example data set"
Recently Kamal Choudhary et al published some good ML results based on mining the JARVIS database:

https://arxiv.org/abs/1805.07325

It would be great if that data set can be available on matminer so others can try their ML algorithms. I asked Kamal about how to do this and he referred me to this code:

https://github.com/usnistgov/jarvis/blob/master/jarvis/db/static/explore_db.py

It seems like

[2018-06-26 18:28] WardLT commented on #261
We have indexed JARVIS in the Materials Data Facility, and I made an example for using our index. I ported that example to use matminer's data retrieval class. Should I add this to the example repository?
[jarvis-example.pdf](https://github.com/hackingmaterials/matminer/files/2138425/jarvis-example.pdf)

I still have a little bit of work to do to make it easier to access the crystal structures, wh

[2018-06-27 01:55] computron commented on #261
I do think you should add the example to matminer_examples

That said, it would be nice to have just a single function call to get both the crystal structures and the data for the referenced arxiv paper like the other methods without having to issue Forge queries, etc. So that the data is there like the other test datasets with a single Python function call -> pandas dataframe.

[2018-06-27 02:20] WardLT commented on #261
Sure, I'll go ahead and add it to matminer_examples.

I certainly agree, issuing multiple queries to get the structures would be tedious and presents an unneeded learning curve. We're still figuring out best to approach that problem.

[2018-06-29 20:05] dyllamt commented on #246
I would like to work on this. I can think of two ways that this can be accomplished, but would like others opinions on the two methods.

1. The first method applies to both `DOSFeaturizer` and `BandEdge`. In both, the partial DOS is weighted by an exponentially decaying function. For `BandEdge`, the decay constant will depend on the DOS mass, while the decay constant will be the same for all compo

[2018-06-29 20:34] albalu commented on #246
I like the idea of using DOS mass for decay constant by default. I am having a hard time imagining how option 2 works, so we will have more features like cbm_s_0.0-0.05, cbm_s_0.05-0.10 , etc; i.e. contribution in energy windows? Option 1 is simpler.

[2018-06-30 03:36] albalu opened #262 "it's not clear ElectronicRadialDistributionFunction needs oxidation states due to uninformative error"
it seems like the following line is not enough?

# Add oxidation states.
struct = ValenceIonicRadiusEvaluator(struct).structure

I get AttributeError due to the line "this_charge = float(site.specie.oxi_state)"; it was not obvious that I can fix this by calling structure_to_oxidstructure on the structure column of my input data first.

I could fix this by adding warning to docs that oxidation stat

[2018-06-30 03:41] albalu commented on #213
Just FYI: list of structure featurizers that can't be used as black box that I found so far:
CoulombMatrix, SineCoulombMatrix, OrbitalFieldMatrix, MinimumRelativeDistances

[2018-07-02 23:13] dyllamt commented on #246
Option 2 adds some level of spectral information to the features, but for now, I'll go ahead and implement option 1 along with an entropy-type score in the `DOSFeaturizer`. If we like it, it will be easy to extend these changes to `BandEdge`.

[2018-07-04 15:47] WardLT opened #266 "Failures in Voronoi Tessellations"
The Voronoi-tessellation-based featurizers all have a minor error rate due to problematic structures failing to tessellate.

As an example, `mp-623782` fails to tessellate due to an error running qhull.

There are a few possible routes we could take to trying to lower the error rate:
1. Making sure our cutoff for Voronoi tessellations is large enough to capture all NNs
2. Perturbing the unit cell

[2018-07-05 16:31] computron commented on #266
I just created a PR in the VoronoiNN class in pymatgen to fix the cutoff issue:

https://github.com/materialsproject/pymatgen/pull/1193

When merged, this should fix problems for some structures but I don't think it will fix mp-623782. I tried perturbing mp-623782 but that didn't seem to fix the problem, so I didn't implement that strategy. There might be something more fundamental going on in eit

[2018-07-05 16:45] computron commented on #266
I also just pushed a commit to help guide users to setting ignore_errors=T:

483bdaf75678b01c12e2d8cc66a710a902dcbd04

[2018-07-05 21:32] computron commented on #246
The "spectral" type approach has been somewhat explored before, see for example:

Isayev, O. et al. Materials Cartography: Representing and Mining Material Space Using Structural and Electronic Fingerprints. Chem. Mater. 141215151057004 (2014). doi:10.1021/cm503507h

It's probably somewhat useful for describing a distance metric between DOSes and might be useful in kernel methods. But I think it w

[2018-07-13 17:03] albalu opened #270 "matminer CircileCI test environment"
With the current test config file that uses tox, the python virtual environment is not used after installation. See this line in the test result:
"
pyenv doesn't seem to be installed, you probably don't want this plugin installed either.
py36 installdeps: nose==1.3.7, coverage==4.4.1, coveralls==1.1, -r/home/circleci/matminer/requirements.txt
"
So the requirements get installed twice which is inef

[2018-07-13 18:08] ardunn commented on #270
Thanks for bringing this up. Tbh I had not put much thought into problems with venv/tox/etc because this testing config is basically copied from the fireworks config, and at first it seemed to "just work"

Is the issue specifically that the optional requirements are not installed by the test suite?

[2018-07-13 18:16] albalu commented on #270
The issue is that the first part (setup) is basically ignored and when
running the tests requirements are installed again as if you never created
a venv.

On Fri, Jul 13, 2018, 11:08 AM Alex Dunn <notifications@github.com> wrote:

[2018-07-24 20:14] ardunn opened #273 "Have progress bar during featurization"
It might be nice to have a progress bar (which could be turned on/off) during featurization, so you'd have an idea of how long a featurizer will run. `tqdm` seems like a good package to do this

[2018-07-25 17:54] computron commented on #273
Agree, we use tqdm to do progress bars for some of the data retrieval already

[2018-07-25 17:54] computron commented on #273
Also I guess this will mainly be for featurize_many?

[2018-07-25 20:33] ardunn commented on #273
Yeah I imagine featurize_many is the lowest level at which the progress bar would be present. Although it would be good if it worked with the higher level methods (featurize_dataframe, fit_featurize_dataframe, MultiFeaturizer.featurize_dataframe, MultiFeaturizer.fit_featurize_dataframe)

[2018-07-25 22:14] computron commented on #273
Sure, I think we are on the same page here

On Wed, Jul 25, 2018 at 1:33 PM Alex Dunn <notifications@github.com> wrote:

[2018-08-02 20:42] albalu opened #278 "featurize_dataframe replaced with fit_featurize_dataframe"
Since there is no harm in calling fit_featurize_dataframe, we can just replace featurize_dataframe method and replace it with fit_featurize_dataframe but under the same name featurize_dataframe. So we will have just one method featurize_dataframe that always call fit first (there is no harm in calling fit if the featurize method doesn't require calling fit)

[2018-08-02 20:55] WardLT commented on #278
I disagree about there being potential harm in fitting a dataframe.

For example, the prdf featurization could be different each time you run
the method. So, a model trained with one dataset could be incompatible for
a dataset with fewer elements.

While this isn't a use case we have seen in the wild or a problem that
can't be worked around, I'm in favor of keeping calls to fit optional and
explic

[2018-08-02 21:24] ardunn commented on #273
closed via #275

[2018-08-02 21:24] #273 closed

[2018-08-03 02:05] computron commented on #278
Yes they must be separate

[2018-08-03 16:24] computron opened #279 "add Jarvis data set to matminer sample data sets"
Not sure if we should be moving larger sample data sets to another package, or coding a way to download the raw data file in JSON on-demand

https://github.com/usnistgov/jarvis/blob/master/jarvis/db/static/jarvis_ml-train.ipynb

[2018-08-07 16:23] computron opened #280 "add Jarvis descriptors to matminer"
See:

https://github.com/usnistgov/jarvis/blob/master/jarvis/sklearn/get_desc.py

[2018-08-07 16:34] computron commented on #280
See also:

https://github.com/usnistgov/jarvis/blob/master/jarvis/db/static/jarvis_ml-train.ipynb

Kamal Choudhary has (friendly) dared people to try to beat the results...

[2018-08-10 21:27] computron opened #282 "add bispectrum coefficients to matminer"
Bispectrum coefficients are widely used in the community, including in the recent GAP and SNAP potentials. IMO they are one of the most important site descriptors to have in matminer as a reference for other site descriptors.

The formalism of these coefficients is here:

1. Bartók, A. P., Payne, M. C., Kondor, R. & Csányi, G. Gaussian approximation potentials: The accuracy of quantum mechanics, w

[2018-08-13 19:33] athomps commented on #282
I recommend the term bispectrum *component*, slightly less generic than *coefficient*.  More information on the LAMMPS algorithm is provided here:

Thompson, Swiler, Trott, Foiles, Tucker, J Comp Phys, 285, 316 (2015).

[2018-08-14 22:21] computron opened #284 "SOAP descriptors"
We might be able to add SOAP descriptors through:

https://github.com/SINGROUP/SOAPLite

It might be a little wonky compared to a native implementation
- need to convert structure to ASE (pymatgen can do this, not so bad)
- installation requires C compilation (they have a precompiled C library for linux, not sure how well this will work)

But at least there is a relatively quick(?) way to make it

[2018-08-17 18:33] computron opened #286 "Add CGCNN network models to matminer"
See:
https://github.com/txie-93/cgcnn

[2018-08-20 22:15] WardLT commented on #282
The implementation for bispectrum components will likely be similar to the [BondOrientationalOrder](https://github.com/hackingmaterials/matminer/blob/25839c70e1747d97d763cde9aaaf03327ce602de/matminer/featurizers/site.py#L1773) class. The main hurdles to implementing it will be developing functions for the hyperspherical harmonics and coupling constants (`H`). I've already done some research on the

[2018-08-29 03:32] albalu opened #289 "MultipleFeaturizer with mixed dtypes"
When output data is mixture of numbers and str (pandas object) MultipleFeaturizer converts all of them to object which is pretty bad. For example, the following test under "test_composition.py" would fail.

[code]

if I override get_dataframe inside MultipleFeaturizer, the problem is fixed (also the progress bars work for each featurizer as opposed to only for MultipleFeaturizer). However, it seem

[2018-08-29 05:10] ardunn commented on #289
@albalu if you revert to before the caching commit was made on multifeaturizer, does it solve the issue? if so we will at least know where to start on fixing

[2018-08-29 05:14] albalu commented on #289
Yes, revering fixes it. Same as if we define MultipleFeaturizer.featurize_dataframe as my example above. In both cases, it seems to skip caching. I remember you guys had similar issues with MultipleFeaturizer before. I couldn't find an easy fix for it.

[2018-08-29 14:36] WardLT commented on #289
Thanks for finding this error and the nice unit test @albalu!

As you've probably seen, I've got a tentative solution to this issue in #290. One problem is that I use numpy.hstack, which [changes numbers to strings when you have mixed dtypes](https://stackoverflow.com/questions/39754658/concatenate-arrays-with-mixed-types).

I'm working to remove hstack (which was nice, because it is robust to whe

[2018-08-29 15:16] WardLT commented on #289
Well, my initial approach about removing `hstack` was not a good one. I've got it working now by creating arrays of numpy `dtype=object` before concatenating features, which prevents numpy from recasting numbers as strings.

I've also confirmed that this fixes the unit test you provided, though I used a generic one when implementing the fix.

[2018-08-29 15:33] #289 closed

[2018-08-30 00:18] Doppe1g4nger opened #292 "Change the way examples are handled to an sklearn-esque "download if needed" model"
Something that struck me when looking at the matminer examples is that the example data is installed alongside the code by default. To put the impact of that into perspective: for my local install of matminer the whole package is 27.5MB, of that 26.5MB is from the four csv files that make up the example data.

For comparison sklearn is 18.4MB total and has both larger and more numerous example dat

[2018-08-30 23:46] computron commented on #292
My thoughts are:

* I'm not super concerned with the current 27.5MB download size, *but*
* I do think it would be nice to have a better framework for collecting standard data sets, including larger data sets

Some of the other issues on matminer for example pertain to the Jarvis data set which would be nice to have as a standard data set, without increasing the download size of matminer. Even the

[2018-08-31 01:03] athomps commented on #282
The BondOrientationalOrder class is indeed very elegant and it would make sense to start by doing something similar for bispectrum of hyperspherical harmonics on 3-sphere in R^4 (HSH).

Unfortunately, I could not quite make sense of the expression for HSH [as products of Legendre functions](https://en.wikipedia.org/wiki/Spherical_harmonics#Higher_dimensions).  The expression in R^n due to Atsushi

[2018-09-07 19:31] WardLT opened #295 "Problems with parallel featurization and FunctionFeaturizer"
Running `featurize_dataframe` for FunctionFeaturizer yields wrong results when running in parallel. The example code below yields a different for each featurization for the current version of matminer.

I have confirmed this result on Python 3.6 on Windows, and a user has also found it to occur on Python 3.7.

[code]

[2018-09-07 22:35] computron commented on #295
@montoyjh any thoughts on this?

[2018-09-08 03:17] montoyjh commented on #295
Will take a look.

[2018-09-08 03:27] ardunn commented on #295
This may be from when I removed the override of featurize_dataframe from FunctionFeaturizer via  022846cfe2593127ede5a308b67c4171feffa7fc

It did not fail any tests at the time though...

[2018-09-09 16:29] montoyjh commented on #295
@WardLT can you post the output of your test?  I'm getting two dataframes that are the same other than the np.nan entry (on py3.6/OSX 10.11).

[2018-09-09 17:13] WardLT commented on #295
Sure, the output from my Windows machine is below.

In case it helps: One thought I had about why this error could occur is that something changes while pickling and unplicking the object when transmitting it to the worker thread. That's not the case. I ran a check where I cloned the featurizer by pickling and unpickling it, and the clone gives the correct results.

Let me know if there are any ot

[2018-09-09 19:31] montoyjh commented on #295
Upon inspection of your output, @WardLT, it kind of looks like each rows contains the right set of numbers, but that they're just not assigned to the correct row.  What happens if you re-fit the featurizer after the drop command?

[2018-09-09 20:04] montoyjh commented on #295
Actually, in @ardunn's linked commit, the unittests were revised such that they don't explicitly test `featurize_dataframe` any more independently of fitting.  So presumably the user should always use `fit_featurize_dataframe`.

[2018-09-10 00:30] WardLT commented on #295
Refitting does not seem to fix the problem. Nor does calling `fit_featurize_dataframe`

And, after running this a few times, the output that the parallel `featurize_dataframe` returns changes each time. Not sure if that adds any helpful clue.

[2018-09-10 01:01] montoyjh commented on #295
Yeah my guess is there's something that is implicitly ordered on some systems that's being scrambled.  I'll check it out on my wondows machine once i can get to it.

[2018-09-10 16:07] montoyjh commented on #295
@WardLT still haven't gotten to testing on windows, but based on the output you shared, have a hunch it might be fixed here.  Mind trying the test with this branch?

https://github.com/montoyjh/MatMiner/tree/function_featurize

[2018-09-10 16:37] montoyjh commented on #295
Okay, I just tested on windows, and was able to reproduce the bug and fix it in the aforementioned branch.  I'm glad it gets triggered on Windows, because it's a more general bug, and I'm really not sure why it's particular to OS (my guess is set ordering-reordering happens in a different way on Windows?).  I'll go ahead and issue the PR.

[2018-09-11 14:09] WardLT commented on #295
Great! I was able to verify that the fix works on my machine too. Thanks, @montoyjh !

[2018-09-11 14:09] #295 closed

[2018-09-15 00:43] ardunn opened #298 "MultipleFeaturizer does not work with featurizers returning matrices"
The following code illustrates the problem:

[code]

The stacktrace is:
[code]

The problem persists with any featurizer returning a matrix (e.g., OrbitalFieldMatrix)

[2018-09-16 15:05] WardLT opened #300 "Provide Flat Outputs for All Structure Featurizers"
Most machine learning libraries work best with 1D, "flat" features. Several of our current structure featurizers return 2D matrices or dictionaries rather than a 1D vector. We should modify these classes to provide the ability to output 1D features, if desired (see PR #299 as an example).

The relevant classes are:

- [x] CoulombMatrix
- [x] SineCoulombMatrix
- [ ] MinimumRelativeDifferences
- [ ]

[2018-09-17 21:03] WardLT opened #301 "AtomicOrbitals Fails for Fractional Compositions"
AtomicOrbitals gives an `IndexError` when you provide it a fractional composition (example below). Is this a bug, or me not understanding how AtomicOrbitals works?

If it is not the result of some unit cell dependence (e.g., "NaCl" is different than "Na0.5Cl0.5"), we should make this class return the same value for any compositions with the same element fractions.

[code]

[2018-09-17 22:17] computron commented on #301
The method should give you the same result whether you put in NaCl or Na0.5Cl0.5

@dyllamt can you comment?

Also, when fixed, a quick unit test should be added to make sure this feature doesn't break in the future

[2018-09-18 15:51] utf opened #302 "structure_to_oxidstructure should be parallelised"
The `matminer.utils.conversions.structure_to_oxidstructure` function takes a very long time when processing many structures. Currently the implementation runs only on a single thread. A quick and easy way to improve performance would be to introduce an `n_jobs` argument that enables parallelisation. Similar to the behavior of `n_jobs` in scikit-learn, providing `n_jobs=-1` would set the number of

[2018-09-18 15:57] computron commented on #302
The easiest way to do this would probably to make this into a featurizer, which would automatically support parallelism. Similar for some of the other conversion functions

e.g. we can have a module of "conversion" (or other name) featurizers that do these kinds of transformations, the only thing is that the "in_place" option would probably no longer be supported.

[2018-09-18 15:57] computron commented on #302
(It would also allow using these conversion tools as part of a Pipeline)

[2018-09-18 16:09] utf commented on #302
Seems like a nice idea. Naively, looking through the list of functions in `matminer.utils.conversions`, it looks like every function in there *could* be converted into a featurizer. If anyone has any objections as to why this might be a bad idea I'd like to hear their thoughts. Otherwise, I'll go ahead and refactor them all.

[2018-09-18 16:15] WardLT commented on #302
I support making all of these based on the Featurizer API. Is the idea to keep in the `utils.conversions` module?

[2018-09-18 16:50] WardLT commented on #302
:+1: I think it's reasonable to put them in a special module under `featurizers.conversions`, as long we document clearly that they do not produce ML-ready features but are instead utilities.

[2018-09-18 19:08] dyllamt commented on #301
It looks like fractional compositions were not supported for this featurizer at all, because the underlying Pymatgen class `MolecularOrbitals` assumes that your composition contains integer numbers of atoms (i.e. Na2Cl2 would give the same result as NaCl, but Na0.5Cl0.5 is not supported at all).

I added `get_integer_formula_and_factor` to the beginning of the `featurize` function to sanitize the

[2018-09-20 16:17] computron commented on #302
I think you can just call it ``{}_object``

I would say it shouldn't overwrite anything in the dataframe by default, that should be optional if there at all

[2018-09-21 00:28] #302 closed

[2018-09-26 00:49] utf opened #307 "Use seaborn model of dataset loading"
Currently datasets are loaded by calling a specific function. E.g.:

[code]

If we want to have multiple elastic datasets (e.g. one generated from Materials Project data and one from Citrine), this will quickly become messy. Instead, it would be nice to use the Seaborn model of loading datasets. E.g.:

[code]

In our case, we can use specific strings to identify datasets. E.g. `'elastic_tensor_War

[2018-09-26 20:56] ardunn commented on #307
I agree with this! Converting between csv and inflated dataframe each time a dataset is loaded is not ideal.

[2018-09-26 21:50] WardLT commented on #301
Fixed by #303

[2018-09-26 21:50] #301 closed

[2018-09-26 23:30] computron commented on #307
Some things I like about CSV

- you can include a comment at the top to give file provenance (sometimes nice to have this in the file itself)
- people can load it easily into other software they have (Excel, various other statistics software, etc)

That said, neither of these are particularly strong reasons to stick with CSV. So I'd say go with whatever you guys decide

[2018-09-26 23:31] computron commented on #307
Also the string data set loader sounds good to me (better than individual functions for each data set)

[2018-09-27 00:35] utf commented on #266
Hopefully this should be fixed by materialsproject/pymatgen#1289.

[2018-09-27 15:56] computron commented on #266
I am going to close this for now as I think we've solved it as much as we plan to at the moment. If someone sees this re-appearing please feel free to re-open.

[2018-09-27 15:56] #266 closed

[2018-09-27 22:14] Doppe1g4nger commented on #307
I think it would make sense to implement this in two stages. First with the generic load_dataset function using the current csv files, then later we can consider switching over to JSON.

My only concern with going over to this method is that I would like to make sure it is easily importable to other projects. When making #297 I tried to write the code in such a way that you can import some of the

[2018-09-27 22:33] utf commented on #307
I agree about implementing this in two parts. Although it does seem a little unwieldy to implement this as its own class (especially when the aim is to have this as neat as possible).

Can you just make a function called `load_dataset_from_dict()` which expects a dictionary with the url, and metadata keys described above. This function is the importable into any project you want.

Matminer then im

[2018-10-02 00:36] utf commented on #307
Concentrating the dataset loading in matminer would make sense from a project scope point of view. E.g.
- Matminer is used for loading data, featurizing, and plotting.
- Matbench is for quickly & easily obtaining a high performance model.

In that case the file storage location would be controlled by matminer. So either a custom folder if the correct environment variable is set, or the `matminer.d

[2018-10-02 00:56] ardunn commented on #307
I vote for @utf idea

The datasets should be accessible from other projects (e.g., matbench) via the environment variable. So I don't see the 3rd "con" @Doppe1g4nger mentioned being particularly problematic.

In other words, all pros!

[2018-10-05 00:12] Doppe1g4nger opened #313 "Test files could use updated to fix deprecations/user warnings"
I've noticed that there are quite a few deprecations and warnings raised when running the tests on CircleCI. The deprecation issues should be fairly easy to fix but some of the user warnings may be more involved to address. Some of the deprecations warned of total removal in December 2018 so they should be addressed soonish and the rest might as well be looked at at the same time.

[2018-10-05 20:47] #307 closed

[2018-10-05 20:49] computron commented on #313
@Doppe1g4nger can you give this a go and let me know which ones you don't know how to solve?

The total removal ones should relate to conversions being a featurizer, perhaps @utf can help w/that one

[2018-10-05 20:50] computron commented on #232
I think @utf did a good job of colors on the various codes like "sumo", etc. Might be worth it to just have a discussion w/him for the Figrecipes overall graphic design - colors, fonts, font sizes, etc.

[2018-10-08 23:19] Doppe1g4nger opened #315 "Transition existing datasets to JSON"
I'm currently working on transitioning the existing matminer datasets over to json. I successfully converted them all using @utf 's utility and confirmed that the dataframes when loading these json files are identical to the ones produced by the current load_dataset() function.

I uploaded the dielectric_constant dataset json file to figshare (see here: https://figshare.com/articles/Dielectric_Con

[2018-10-08 23:49] ardunn commented on #315
imo we should only keep json

probably need @computron approval tho

[2018-10-09 01:45] computron commented on #315
Sounds good to me

[2018-10-09 20:25] #292 closed, assigned to nobody

[2018-10-10 18:50] Doppe1g4nger opened #317 "plot.py PlotlyFig.xy() throws an erroneous warning if the arguments are string identifiers"
I noticed when updating the example notebooks that the plotting class throws a length mismatch warning if you try to plot data from a dataframe with a tuple of column identifiers as such:

[code]
The code erroneously checks the length of the titles against each other rather than the length of the data itself.

Currently I'm working around these in the examples by just passing the data itself rathe

[2018-10-10 18:52] albalu commented on #317
thanks @Doppe1g4nger  for reporting this. I will work on fixing it

[2018-10-12 17:39] Doppe1g4nger commented on #315
Closed by #316

[2018-10-12 17:39] #315 closed

[2018-10-12 17:53] utf commented on #298
This is now fixed by #319

[2018-10-12 17:55] utf commented on #313
Is this now fixed by #320 ?

[2018-10-12 17:57] #258 closed

[2018-10-12 18:06] Doppe1g4nger commented on #313
More or less, the remaining deprecation warnings come from tests on the deprecated converters and will presumably be removed when the converters are. The warnings for using np.matrix should probably just be ignored, numpy doesn't seem to have a plan to remove the matrix object anytime soon. There were a few other misc. ones that stuck around but I couldn't find their source and they all seemed ver

[2018-10-12 18:12] computron commented on #313
@Doppe1g4nger I would suggest to either close the issue or list out the remaining warnings to fix before considering the issue closed

[2018-10-22 05:33] mkhorton opened #323 "BranchPointEnergy featurizer slow + recommendation for weights"
I'm getting times ~15 seconds per band structure, which seems a little slow for what this is. Perhaps worth making heavier use of numpy for this.

Would also recommend an additional variant citing the recent Shapera and Schleife (DOI: 10.1002/adts.201800075) which has optimized values for `n_vb` and `n_cb` kwargs -- the defaults of n_vb=1 and n_cb=1 are not ideal for general use.

[2018-10-29 22:09] Doppe1g4nger opened #324 "Add dataset management guide and table of dataset descriptions to doc"
First mentioned in #322, a guide to managing the datasets available in matminer should be added to the doc (already available as an md file in /dev_scripts/dataset_management/, just needs reformatted). Also an auto generated human readable list of datasets and information about them should be added to the doc in a similar manner to how the featurizers are listed. I'll get to work on this soon, but

[2018-11-01 04:44] ardunn opened #325 "All builds failing because of MDF forge"
All new builds (including recent otherwise fine pull requests #322, #321) of matminer are broken because:

[code]

This should be a priority to fix...

[2018-11-01 11:50] WardLT commented on #325
We are currently rebuilding the MDF search index. I'll disable the tests
for now, as it will be a few more days until that process is complete.

Sorry, should have remembered to disable them beforehand

On Wed, Oct 31, 2018, 11:44 PM Alex Dunn <notifications@github.com wrote:

[2018-11-01 15:42] WardLT commented on #325
Alright, the builds now pass. I'm currently working on the MDF-side of this problem, and will leave this issue open until I fix that.

[2018-11-05 22:58] Doppe1g4nger commented on #313
The remaining issues are either very minor or should be fixed once the deprecated functions are removed. Closing this.

[2018-11-05 22:58] #313 closed

[2018-11-07 19:45] Doppe1g4nger opened #330 "Rework CircleCI configuration"
In setting up datasets and their testing in #328 it became apparent that it would be useful to have tests that run on a set schedule rather than during every commit (e.g. testing that datasets can be downloaded from the Figshare repository). This can be done using the CircleCI Workflows functionality: https://circleci.com/docs/2.0/workflows/ by scheduling a workflow to run on a cron job.  While th

[2018-11-07 19:49] computron commented on #330
Are there "quick" tests that can be run quickly and on every commit? e.g., making sure that the resource exists on Figshare at all (without necessarily verifying its contents).

[2018-11-07 20:16] Doppe1g4nger commented on #330
Hmm, I _could_ change the tests to just ping the download link and make sure it gets back a valid response. This wouldn't ensure the data integrity but it would make sure the download link is active. I like the idea of changing the current tests to do this on every commit, but I still think some sort of more comprehensive test like the current ones should be set up to run on a ~weekly basis.

[2018-11-10 21:54] Doppe1g4nger commented on #324
Closed by #328

[2018-11-10 21:54] #324 closed

[2018-11-10 23:42] WardLT commented on #325
The upgrade of the MDF search index finished on Friday. I'll probably get
to fixing the texts on Monday

On Sat, Nov 10, 2018, 5:26 PM Daniel Dopp <notifications@github.com wrote:

[2018-11-12 16:53] #325 closed

[2018-11-12 20:39] Doppe1g4nger commented on #330
Some other potential improvements to the test process have become apparent so I'm generalizing this Issue to better encompass what really needs done.

- [ ] Implement Workflows to have a scheduled test against datasets and a shorter test against PRs.
- [ ] Make tests run against install created with setup script rather than direct repo code

[2018-11-27 15:31] computron opened #335 "Propnet descriptors in matminer"
I think we are getting to the point where propnet descriptors should be integrated into matminer:

https://github.com/materialsintelligence/propnet

* Propnet is starting to be relatively mature
* We are already doing integrated matminer-propnet tests to see if propnet will accelerate data mining
* There are papers coming out that could really benefit from propnet features, e.g. see:

https://arxi

[2018-12-01 00:36] ardunn opened #336 "Pbar not accurate"
Pbar + multiprocessing current implementation is not accurate for the actual progress being made. When a process starts working on an entry, the pbar updates; a lot of the time, this means the bar will appear 100% finished but will actually still be featurizing some slow entries.

The pbar should update after the entry is featurized. A possible implementation for a fix is manually updating a self.

[2018-12-07 17:57] ardunn opened #340 ""mp_all" dataset contains some compositions which are nan"
[code]

Output:

[code]

[2018-12-07 17:58] ardunn commented on #340
This may also be the case with the mp dataset not having structures

[2018-12-07 19:21] computron commented on #323
The relevant section of the paper is below:
<img width="594" alt="screen shot 2018-12-07 at 11 21 33 am" src="https://user-images.githubusercontent.com/986759/49668206-4b087180-fa12-11e8-8a00-1b6847970f05.png">

[2018-12-07 19:34] computron commented on #323
N_e = sum of s and p valence electrons per formula unit of the material. I imagine the best is we do sum of s and p valence electrons per unit cell in the band structure calculation (``bs.structure``).

Probably the way to get sum of s and p valence electrons is to call "full_electronic_structure" on an element and subtract the "full_electronic_structure" of the corresponding noble gas. One way to

[2018-12-07 19:38] Doppe1g4nger opened #341 "Make dataset test regime more robust"
As shown in #340 the current system of checking that dataset entries are the right type is not robust enough. Tests should be updated to check that there are no nan entries in columns where these values shouldn't be allowed.

[2018-12-08 00:48] ardunn commented on #261
@computron considering we have a majority of the JARVIS database in our Figshare datasets, as well as the MDF Forge JARVIS access, can we consider this issue closed?

[2018-12-08 00:50] ardunn commented on #241
Hey @kylebystrom, did you ever wind up implementing this? Or if not, have some starter code etc.?

[2018-12-08 00:59] ardunn commented on #279
@computron considering we have a majority of the JARVIS database in our Figshare datasets, as well as the MDF Forge JARVIS access, can we consider this issue closed?

[2018-12-10 16:49] computron opened #343 "add text-mined element embeddings to matminer via ElementProperty"
It would be nice to have text-mined element embeddings in matminer. A whole separate study might compare these against MAGPIE-style descriptors.

The general strategy would be:

* Add the raw embedding data to matminer.utils.data_files
* Implement the embedding data in matminer.utils.data as a subclass of the AbstractData object
* Implement the embedding featurize as a preset value in ElementPrope

[2018-12-10 18:16] computron commented on #279
yes please close

[2018-12-10 18:54] #279 closed

[2018-12-11 05:33] ardunn commented on #286
This can be made into a featurizer that fits on a target property and then outputs the prediction for the target property using CGCNN. Perhaps a good use for StackedFeaturizer

[2018-12-14 11:16] computron opened #344 "Add U-apI descriptors to matminer"
Will require the user to install ABCNN code. See:

https://gitlab.com/ankitjainmeiitk/abcnn/blob/master/example/FP.py

for an example of usage. Note that in the example, the "energy" part is the output value so it should not be included in the fingerprint.

[2018-12-14 22:45] ardunn commented on #280
this is done

[2018-12-14 22:45] #280 closed

[2018-12-16 02:03] ardunn commented on #343
Sure, what would you think about also adding a separate (but related) festurizer for the word embeddings of entire materials? leigh mentioned he could also give the embeddings for all materials, so this featurizer would just return the word embedding for a formula and would throw an error if the formula was not found/known

[2018-12-17 18:17] computron commented on #344
Can we do this one relatively quickly

@utf might have been working with this one already, so maybe it can go quickly

[2018-12-17 23:20] utf opened #347 "Unexpected behavior of CrystalNNFingerprint"
The output of CrystalNNFingerprint does not match up with the output of the CrystalNN class.

For example the following code snippet:
[code]

Produces the output:
[code]

The coordination of site 51 obtained by the CrystalNN class does not match up with the coordination indicated by CrystalNNFingerprint. Even the second highest order parameter is for the wrong coordination number.

[2018-12-19 01:22] ardunn commented on #343
this is done

[2018-12-19 01:22] #343 closed

[2018-12-19 18:03] computron opened #348 "fix plotly tests"
in particular matminer.figrecipes.tests.test_plots.PlotlyFigTest#test_violin

Note that I modified this to pass simply by skipping the test. So remove the skip decorator first, then get it to pass CircleCI

[2018-12-19 22:55] computron commented on #348
note that @Doppe1g4nger might have changed the test from the original version, not sure if that helps or hurts things

[2018-12-19 23:00] ardunn commented on #348
@computron Should not be a problem (fingers crossed)

[2018-12-19 23:02] ardunn commented on #286
Closed via #345

[2018-12-19 23:02] #286 closed

[2018-12-20 02:04] muu4649 commented on #241
Hi! This group makes nice module about MBTR!
https://github.com/SINGROUP/dscribe
But, I don't try it .....
Im happy if it helps you.

[2018-12-20 04:01] #348 closed

[2018-12-20 16:13] computron commented on #241
Looks very promising! Matthias Rupp's group was supposed to also release their own Python bindings to MBTR via qmmlpack (see https://gitlab.mpcdf.mpg.de/nomad-lab/public-wiki/wikis/NOMAD-software-and-source-code-release, it may require login)? but I don't see a usable implementation anywhere yet. The SINGROUP dscribe code might be a better bet

[2018-12-21 05:15] muu4649 commented on #241
Did this information help you?（So Im happy!）
um...qmmlpack's visibility is now private ..
Had Matthias Rupp made his achievement open source license?

[2018-12-21 21:46] computron opened #352 "fix CircleCI tests"
Might have to do with numpy compilation and getting pymatgen optimization package installed correctly?

[2019-01-08 17:26] mkhorton opened #355 "Cannot import pip-installed version of matminer, syntax error related to `SiteStatsFingerprint`"
Seems like a problem with the `async=True` portion causing a syntax error and the whole module failing to import (if you remove `async=True` it imports fine).

[code]

[2019-01-11 21:54] mkhorton commented on #355
Note that I think this is only a `SyntaxError` on Python 3.7+ which is why I think your CI is still working, even though the pip install is broken.

[2019-01-11 21:58] WardLT commented on #355
Does it given any indication of what is wrong about the syntax? I'm not familiar enough with 3.7 to know why this statement isn't valid.

[2019-01-11 22:00] mkhorton commented on #355
`async=True` is redefining a builtin, I believe. "async" shouldn't be used as a kwarg. I don't use async myself to know though, all I know is that if I delete that part it imports fine.

[2019-01-11 22:04] WardLT commented on #355
Oh! Yes, this problem has some layers. `aync` has been renamed into `non_blocking` in newer versions of pytorch, which should get around the problem.

Not sure if CGCNN is compatible with newer versions of pytorch. Hopefully, we have some unittests to check it

[2019-01-11 22:05] WardLT commented on #355
Thanks for pointing out the 3.7 connection to this bug. Maybe we should start including Python 3.7 in the unittests.

[2019-01-11 22:07] mkhorton commented on #355
No problem, I just spotted it in the 3.7 changelog:

We're deploying a web app on our end + trying to use 3.7 as a base image, I don't have 3.7 set up myself in any CI yet though so also probably should do that :)

[2019-01-11 22:10] mkhorton commented on #355
It's a bit of a hack, but if CGCNN wasn't compatible with the new pytorch, you could also just pass in the kwarg as `**{'async':True}`, it'd obviously still not work in 3.7, but it would import fine, and as far as I can see that code block is only evaluated if you have CUDA enabled anyway.

[2019-01-11 22:11] WardLT commented on #355
Thanks for the suggestion!

[2019-01-11 22:13] computron opened #357 "add Py3.7 to CircleCI testing"
For why this is needed, see:

https://github.com/hackingmaterials/matminer/issues/355#issuecomment-453673469

[2019-01-13 22:02] hhaoyan commented on #241
Hello everyone!

Happy to find this issue and I'm considering finishing what was left behind :)

The current situation is that I had a C++ implementation and I used it to conduct most of the research. In the meantime, Matthias also had a C++ implementation which he included in his package for doing quantum machine learning.
Both worked and the difference might that Matthia's code is more designed

[2019-01-15 18:47] #355 closed

[2019-01-25 02:32] #270 closed

[2019-01-25 02:32] #352 closed

[2019-01-25 02:32] #357 closed

[2019-01-30 21:46] ardunn opened #364 "Caching test fails unittest test suite"
For whatever reason, test_caching of multifeaturizer fails the test suite now that we transitioned to unittests from old (deprecated) nose.

What is strange is that the test seems to pass locally by using `python test_base.py` (i.e., running `unittest.main()`).

Locally, running `python setup.py test` fails with:
[code]

On circleCI though, the test has this similar failure:

[code]

So the proble

[2019-01-30 21:55] ardunn commented on #344
https://journals.aps.org/prb/abstract/10.1103/PhysRevB.98.214112

Posting here for reference

@computron were you thinking to make our own implementation or just using theirs?

[2019-01-30 21:56] WardLT commented on #364
The problem is probably that we do not clear the cache before the unit test. So, we're failing because the "cache_info" holds information from the previous stests.

I can fix it by adding some code that clears the cache to the unit test. Which branch should I issue a PR to?

Or, if it is easier for you to add it, the code looks like:

[code]

[2019-01-30 22:12] ardunn commented on #364
@WardLT master is fine, ill merge as soon as it passes CI tests!

[2019-01-30 22:30] #364 closed

[2019-02-05 19:19] computron commented on #253
Also a one-hot encoding of the symmetry operations present in a material

[2019-02-06 04:55] ardunn opened #366 "Datasets with wrong units and misleading targets"
JDFT-2D Exfoliation Energy unit is wrong?
[Docs](https://hackingmaterials.github.io/matminer/dataset_summary.html) say exfoliation energy unit is eV. The unit is meV/atom (according to JARVIS NIST website).

Edit:
Also, phonon "last phdos peak" is very misleading

[2019-02-11 06:04] ardunn opened #368 "featurize_dataframe inplace is extremely slow for featurizers w/ lots (1k+) features"
### problem
In featurize_dataframe, there is this section of code:

[code]

When inplace is True, pandas goes about appending a new column for each feature. This is a problem for featurizers which return lots of features, because internally in pandas some lists are being appended to for each feature - appending to native Python lists is amortized O(1) (approximately O(n) non-amortized, but observe

[2019-02-11 06:48] WardLT commented on #368
The proposed changes sound great! Do you already have a break with these changes?

I'm totally fine with `inplace=False` as a default

[2019-02-12 01:33] ardunn commented on #347
@utf any update on why this might be? Fixing this issue might improve automatminer as a secondary effect

[2019-02-12 02:30] ardunn commented on #300
@WardLT what do you think is the best way to flatten the *RDF outputs?

[2019-02-12 02:32] ardunn commented on #368
yeah unfortunately it breaks a lot of stuff, see #371

[2019-02-13 03:18] ardunn opened #372 "Dimensionality needs to be updated"
Dimensionality currently uses pymatgen `get_dimensionality`, which is apparently deprecated as of 2019.1.1

We should be using one of the other pymatgen dimensionality methods (@utf suggested Larsen) using CrystalNN, _with caching!_

[2019-02-19 18:35] ardunn commented on #284
closed via #370

[2019-02-19 18:35] #284 closed

[2019-02-25 18:13] ardunn opened #374 "Table of Featurizers needs to add conversions"
https://hackingmaterials.github.io/matminer/featurizer_summary.html

There are no conversions!

[2019-02-25 18:26] #374 closed

[2019-03-02 13:26] kjappelbaum commented on #256
Amp stores it's fingerprint in a file-based database for re-usage (which could also be interesting for matminer), so one would need to figure out how one wants to handle this. I used something like this in the past, which is of course not highly-optimized since amp usually likes ase trajectories:

[code]

[2019-03-02 18:54] ardunn opened #377 "Look into numba for speedup"
http://numba.pydata.org/

[2019-03-02 20:31] WardLT commented on #256
It seems like we could easily port this code into a matminer featurizer, which might also close issue #282 (bispectrum coefficients) as well.

@kjappelbaum , would you mind going into a little detail about the benefits of the database backing in Amp?

[2019-03-02 20:32] WardLT opened #378 "External Libraries and Matminer"
Issue #256 has caused me to continue thinking about our approach with building featurizers from external libraries. Do you think we should start breaking off featurizers that reference external libraries into their own submodules?

So far, I think the answer is "no." Knowing the capabilities of the modules requires familiarity with the external libraries, and that outweighs the benefits of better

[2019-03-02 20:40] kjappelbaum commented on #256
The database is useful to avoid re-calculation of a fingerprint. Amp will create two folders, one for neighborlists and one for the fingerprints and will hash each structure and create a file with the hash as filename. In case you start training, AMP will check the database if the fingerprint/neighborlist already exists and only recalculate if needed. In case you do not want this in matminer, one

[2019-03-02 21:14] ardunn commented on #378
I've been thinking about this too.

Probably the easiest thing is to do what you proposed: just add a external.py module and put everything that requires external featurization libraries to be in there.

Alternatively, maybe a long-term solution would be to have each featurizer type be its own folder/subpackage, rather than submodule. For example:
[code]

We could do the same thing for composition

[2019-03-02 21:23] ardunn opened #379 "utils.Data Data classes can have descriptions of element attributes in docs"
from #375

*Data classes could have a description of each attribute (e.g., X) in the docstring. This could help with understanding some of the features in the ElementProperty and CationProperty classes (e.g., what does mean GSMagMom mean?).

[2019-03-02 21:28] ardunn opened #380 "Many featurizers are missing "Feature" blocks in docstrings as specified in BaseFeaturizer"
BaseFeaturizer indicates each featurizer doc should have a "Features" block. However many featurizers do not have this! Probably would be good to go through the featurizers and add this, and standardize the docs in the featurizers generally, too.

[2019-03-05 17:58] computron commented on #378
I like the idea of splitting up the featurizers as per @ardunn long-term solution

Shall we go for it?

Best,
Anubhav

[2019-03-05 18:02] utf commented on #378
I like the idea of splitting the featurizers up too. I'd even go further and have separate files for each external code (e.g. `cgcnn.py` etc). As otherwise this is liable to get just as messy if more external codes are added.

[2019-03-05 18:08] WardLT commented on #378
I agree with @utf about making a separate file for each external code

[2019-03-05 18:44] computron commented on #378
Think we are all in agreement then!

[2019-03-05 19:46] ardunn commented on #378
Sounds good to me. If anyone is implementing this my only request is that each __init__.py imports all featurizers so you can still do `from matminer.featurizers.structure import XYZFeaturizer`

This is important for (1) building the documentation featurizer table, (2) automatminer, and (3) just ease of use/not having long imports for stuff we commonly use

[2019-03-05 20:13] computron commented on #378
+1, although not sure how to make sure people don't forget this. The only thing I can think of is some kind of automatic unit test that checks whether this was done using some kind of introspection

[2019-03-06 13:49] kjappelbaum commented on #256
I am not sure about what a good API design would be. Would you prefer an AMP featurizer that takes the fingerprint type as argument or would you create a separate featurizer for each fingerprint type and put then all of them into a amp.py file. I would probably prefer this, combined with the cross importing as discussed in` https://github.com/hackingmaterials/matminer/issues/378`. If you agree wit

[2019-03-06 14:05] WardLT commented on #256
I like the idea of separate featurizers for each type of fingerprint to reduce the complexity of options passed to the featurizer. I am presuming each of the different fingerprint types have additional options that could be specified beyond the cutoff. Is that right? If not, maybe a single class would be sufficiently simple.

A good route to multiple classes could be to make a `BaseAMPFeaturizer`

[2019-03-11 19:41] kjappelbaum commented on #256
I currently do not really see a way around the database without changes in AMP itself (there is no switch for turning the db of in the API). I started working on the AMP classes (as you suggested, I use a BaseAMPFeaturizer and subclass it), in which I delete the database directly after featurization, and will open a PR in which we can discuss the draft in the upcoming days.

[2019-03-20 20:53] ardunn commented on #368
closed via #383

[2019-03-20 20:53] #368 closed

[2019-03-20 20:57] ardunn commented on #261
This issue is closed, JARVIS DFT3D and 2D and the exact training dataset Choudhary et al. used are already in matminer, see matminer dataset summary page

[2019-03-20 20:57] #261 closed

[2019-03-26 19:11] ardunn opened #385 "Featurizers missing prechecking"
While #384 introduced 3 prechecks for featurizers, there are many more featurizers that could benefit from a precheck. This issue can be used for tracking these featurizers

- [ ] `CationProperty`, `OxidationStates`, `ElectronAffinity`, `ElectronegativityDiff`, `IonProperty`: all-metal entries' oxidation states are ill-defined, so they could be considered invalid
- [ ] NN-based featurizers (e.g.,

[2019-03-26 19:45] computron commented on #385
Note that returning a NaN for precheck could be considered as neither failing or passing a precheck, e.g., if the precheck test was skipped for a large structure

[2019-03-26 20:08] ardunn commented on #385
@computron Should prechecks have the ability to be skipped though? AFAIK they can be all be *super* fast operations that (1) pass (2) fail or (3) throw an error. If (3) happens the user should look into it. For example:

[code]

Or is there some other precheck mechanism you had in mind?

[2019-03-26 20:12] computron commented on #385
At the very least precheck skipping should be discouraged. Let's not introduce this unless we feel it is *really* necessary. Based on your comment I got the sense that some large structures could not be prechecked quickly. If that's the case it might be better to throw NaN versus have the precheck take forever.

[2019-03-26 20:19] ardunn commented on #385
Yes - I think all featurizers can have a precheck that never skips. I don't see any operations where just checking if the featurizer will take a long time will itself take a long time.

[2019-04-23 14:05] computron opened #388 "tutorials / examples should make it clear how to use ASE structures"
Many people use ASE instead of pymatgen

pymatgen has a converter for ASE --> PMG structures.

People should be made aware of this through a tutorial (and also added to the index of all tutorials)

[2019-04-23 14:08] computron opened #389 "SOAP descriptor should include DScribe paper in citations"
The dscribe paper is now on arxiv:

https://arxiv.org/abs/1904.08875

[2019-04-23 14:11] computron opened #390 "data retrieval classes should also have citations() function (just like featurizers)"
Data retrieval classes should also have citations() function (just like featurizers)

Then we should update:

1. Both the README.md and index.html which currently states:

"If you use one or more data retrieval methods, check the code documentation on the relevant paper(s) to cite."

2. Any tutorials on the data retrieval classes to show people explicitly how to call the citations() function

[2019-04-23 14:26] computron commented on #388
It might also be worth having an ASE conversion featurizer

e.g. ASEAtomsToStructure

[2019-05-04 01:01] ardunn opened #394 "GlobalInstabilityIndex precheck is highly inaccurate (too optimistic)"
Example code:

[code]

Out:
[code]

The precheck says the expected non-nan fraction will be nearly 90%; in reality, 98% of samples fail. For other datasets , the difference is less egregious but still present:

[code]

Prechecking of course will not be perfect but should be within ~10% or so generally of the actual failing percentage. This should be addressed in this featurizer's precheck somehow.

[2019-05-05 21:20] mtdg-wagner commented on #394
The precheck is only screening for the presence of non-zero oxidation states in the structure. It appears the majority of featurization failures are due to species pairs not being found in the bond valence parameters table. There are also some structures with non-integer valences, which are not tabulated at all and some cases were the output GII is higher than 0.6 (indicating the parameters where

[2019-05-08 02:22] #394 closed

[2019-07-16 19:55] computron opened #403 "update Citrination client version"
PyCC suggests we update the citrination client version

https://citrineinformatics.github.io/python-citrination-client/

[2019-08-16 18:55] computron opened #408 "MDFDataRetrieval fails Py371 testing"
@WardLT

https://circleci.com/gh/hackingmaterials/matminer/2024?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-08-31 00:50] ardunn opened #410 "Docs dataset summaries are misformatted"
![image](https://user-images.githubusercontent.com/19936203/64057167-81f95700-cb4e-11e9-8c6f-e518192d1b57.png)

The dataset summary page is now filled with tables that have the "Column" column narrow, hard to read, and ugly.

[2019-09-04 16:06] #366 closed

[2019-09-04 16:06] #410 closed

[2019-10-02 14:11] ardunn opened #413 "dScribe soap should be updated"
The newer dscribe has major SOAP improvements, it should be upgraded

[2019-10-10 00:30] utf opened #417 "Multiprocessing error when featurizing many band structure objects"
I've run into an issue trying to featurize a dataframe containing ~1000 band structures when using multiprocessing. I've confirmed that this is not an issue relating to any specific featurizer by creating a dummy featurizer that doesn't do anything. The issue seems to be that we are trying to pack too much data either through pickle or some other part of the multiprocessing library. I think the is

[2019-10-10 00:35] ardunn commented on #417
related to https://github.com/python/cpython/pull/10305

Does this by chance happen on python 3.8?

[2019-10-10 00:36] utf commented on #417
Nope

[code]

[2019-10-10 00:44] ardunn commented on #417
yeah no i mean have you tried it on python 3.8?

[2019-10-10 00:44] ardunn commented on #417
apparently that is when the fix I sent above was applied in

[2019-10-10 00:49] utf commented on #417
Oh, that looks like it will fix it!

I'll give it a test.

[2019-10-11 22:32] #389 closed

[2019-10-11 22:32] #413 closed

[2019-10-14 08:35] ardunn opened #420 "SOAP implementation details need to be checked"
Related to https://github.com/SINGROUP/dscribe/issues/29

@lauri-codes

The class can be found in `matminer.featurizers.structure` as `SOAP`.

[2019-10-14 10:38] ardunn opened #421 "considering adding dependabot to manage dependencies"
In the wake of debugging some dependency problems recently, dependabot.com might be a good way of automating new dependency versions (weekly update seems reasonable)

based on @computron discretion

[2019-10-14 13:49] lauri-codes commented on #420
I'm now doing some minor changes to the Featurizer and I will open a pull request soon.

A couple of questions first:

1. What kind of SOAP default values do you want? Do you prefer speed or accuracy? The current ones (lmax=2, nmax=4, rcut=3.0, sigma=1.0) are fast but not so accurate in reproducing the environment.
2. The Featurizer currently only provides the average SOAP output (averaged over al

[2019-10-14 13:57] lauri-codes commented on #241
Hi all,

Since matminer is already using at least the SOAP-descriptor from the DScribe package, I would suggest using the DScribe implementation of MBTR. Similar to the SOAP implementation it has a clear and comprehensive python API which is backed by a very fast C++ extension.

If you want to go this way, I can also help in building the featurizer. Should be largely a copy-paste of the SOAP-featu

[2019-10-14 16:08] computron commented on #420
Hi Lauri,

Thanks for getting involved! Some responses to your questions

1. The general policy we have followed so far is:
- The constructor doesn't specify defaults for the arguments when there are multiple "good" answers (i.e., we are not 80-90% certain that the user would want to use a single default).
- Instead, we add a method to the featurizer called "from_preset()", which takes in a String

[2019-10-14 16:11] computron commented on #421
Yes Shyue has already suggested this for all our codes

Please set up when ready!

[2019-10-14 16:14] computron commented on #241
Sounds like a great plan to me!

Let us know if you run into any issues.

[2019-10-14 16:15] computron commented on #241
@ardunn can you get in touch with @lauri-codes to see what the best way forward would be?

[2019-10-14 17:14] utf commented on #417
Ok, so this fixes the bug. However, requiring python 3.8 for matminer seems pretty steep.

What do you think about disabling multiprocessing in band structure featurizers for now? AFAIK, the band structure featurizers aren't particularly heavy anyway, so disabling multiprocessing won't have much of an effect. Especially as pickling the band structure data probably takes longer than generating the

[2019-10-14 17:44] ardunn commented on #417
I'd say set `n_jobs` conditionally based on the python version. We already do this to avoid multiprocessing problems between 2.7 and 3.0+ in BaseFeaturizer:

[code]

This particular piece of code should probably be removed since we don't support 2.x anymore but that's beside the point in this issue. A similar thing for versions 3.8 in Bandstructure featurizers seems like the best solution to me

[2019-10-14 17:45] utf commented on #417
Sounds good.

[2019-10-14 17:45] ardunn commented on #417
@utf I don't know the timing of the BS featurizers well, so if the pickling does take longer than generating the features I'd have no problem disabling it all together for BS featurizers. your call

[2019-10-14 17:46] #421 closed

[2019-10-14 17:47] utf commented on #417
It really depends on the size of the band structures. For the uniform band structures I used in the code above, multiprocessing really doesn't make much difference but for smaller ones it might.

[2019-10-14 18:07] ardunn commented on #241
@lauri-codes sounds like a great idea. Maybe we can just include this with a PR for the soap featurizer, once we have that figured out

[2019-10-14 18:19] ardunn commented on #420
Hey @lauri-codes
I think we could have several presets, like @computron said. In general, slow but accurate > fast and inaccurate.

If seems like we should probably accomplish 2 tasks here:

1. put a site version in `matminer.featurizers.site`
2. get an average structure SOAP either by
    a. use the SiteStatsFingerprint class in matminer, or...
    b. using the native dscribe implementation with

[2019-10-15 14:08] lauri-codes commented on #420
1. I will put SOAP into matminer.featurizers.site where it naturally belongs.
3. DScribe doesn't provide parallelization on the C++ side, only through python with joblib. So it definitely makes sense to simply use SiteStatsFingerprint since you already have it. Would it then make sense to completely remove the current SOAP-class that is in matminer.featurizers.structure?

[2019-10-18 13:32] lauri-codes commented on #420
There is now a pull request which puts SOAP into featurizers.site. When you have the time please review it and make sure the changes are appropriate.

[2019-11-16 02:56] mkhorton opened #435 "Request for PIEFACE site featurizer"
J. Cumby and J. P. Attfield, Ellipsoidal Analysis of Coordination Polyhedra, Nature Communications 14235 (2017), see https://pieface.readthedocs.io/en/latest/ and https://github.com/jcumby/PIEFACE

Haven't investigated the easiest way to call it; suspect the most sensible option would be to call e.g. CrystalNN to get neighbor points and then their `Ellipsoid` class directly.

Feel free to close if

[2019-12-12 19:36] afonari opened #438 "Consider moving pymongo and plotly to optional requirements"
Hi All,

Can pymongo and plotly be moved to optional requirements. It seems that matminer core functionality shouldn't require these packages.

What do you think?

Related to: https://github.com/hackingmaterials/matminer/issues/16

[2019-12-13 01:01] computron commented on #438
I think it's a reasonable suggestion, but could you clarify what the specific problem is?

We need to weigh the problems caused by having the packages be required versus problems caused by removing the packages (people don't have everything working out of the box). So it would be helpful to know what problems are being caused by the packages.

[2019-12-13 14:34] afonari commented on #438
There are couple of general considerations:
1. Security - less dependencies - less possibility of a package being hijacked: example: https://www.zdnet.com/article/twelve-malicious-python-libraries-found-and-removed-from-pypi/

2. Updating burden - less dependencies easier to update

3. Packages that are not directly related to the core functionality and also (partially) duplicates other packages.

[2019-12-13 18:44] computron commented on #438
Note - pymongo is just a Python library for connecting to external Mongo databases, it's not a database implementation. Thus, I don't think this is as heavyweight or burdensome as you might think. I haven't heard of any installation issues with it, so I'd favor keeping this unless there is a clear reason to remove.

Plotly could potentially be optional, and I even suggested this be optional in the

[2019-12-13 18:44] #438 closed

[2020-01-05 12:24] mlnjsh opened #439 "how to featurize 'material compostion' column"
I have  column  called  material composition  whose entries are as follows

Ag10Cu35Zr55
Ag10Cu50Zr40

the numbers are proportions for example in Ag10Cu50Zr40  Ag is 10% Cu is 50% and  Zr is 40%

I want to separate composition and proportions from each entires

any help would be highly appreciated

[2020-01-06 16:18] WardLT commented on #439
Hello @mlnjsh ,

We have a support channel on https://discuss.matsci.org/c/matminer for questions on how to use matminer.

Would you mind reposting there? We prefer to use GitHub issues to discuss errors and improvements to the software itself.

[2020-01-06 16:18] #439 closed

[2020-01-24 03:16] computron opened #440 "matminers.featurizers.structure.Dimensionality uses a deprecated method"
@utf Can you update with the latest and greatest?

[2020-01-28 00:47] #417 closed

[2020-01-28 01:00] #440 closed

[2020-02-13 02:40] ardunn opened #443 "Conda install broken"
Now mentioned twice in the forums:

https://discuss.matsci.org/t/using-matminer-with-spyder/3610/6
https://discuss.matsci.org/t/conda-install-broken/3427

Seems conda install is broken via pip dependency problems?

Should update those threads once fixed.

[2020-03-19 01:21] ardunn commented on #435
@mkhorton were you imagining the ellipsoid parameters would be the output of this featurizer?

[2020-03-19 01:39] mkhorton commented on #435
Yes, essentially the displacement from centre (of the centre atom from the ellipsoid centre), and the shape parameter (a measure of the ellipsoid distortion from ideal). Haven't looked into it much though; came across it when helping someone else trying to characterize their Jahn-Teller distortions.

[2020-03-19 01:59] ardunn opened #445 "Add models"
In addition to featurizers and datasets, it might be useful if this code could access models in the same way datasets are downloaded.

This would extend the usage of matminer as a general purpose "toolbox" for materials science. It would also make matminer a curated resource which would hold many valuable models otherwise spread out across random GH repos and figshare accounts.

For example:
[code

[2020-05-01 22:01] ardunn opened #453 "Move figrecipes to a different repo, or delete it"
Most of what Figrecipes does in matminer (currently) is cause failing tests from plotly updates. It's not well maintained, and for good reason - no one (to my knowledge) actually uses it.

The pros/cons as far as I see them break down as:

#### Pros:
- less code bloat
- fewer random test/CI failures due to plotly updates/incompatibilities
- faster pip install and fewer pip issues

#### Cons:
- not

[2020-05-01 22:34] WardLT commented on #453
I'm in favor of dropping it, especially if it is not very well used.

[2020-05-02 21:01] computron commented on #453
Just to point out that this was suggested awhile ago (e.g. in favor of trying to work with something like https://github.com/santosjorge/cufflinks), with @ardunn being the one of the ones insisting on keeping FigRecipes around :P

Anyway, since Figrecipes is part of the published matminer paper, I suggest just moving it to a separate repo and putting a note in matminer that it's now somewhere else

[2020-05-04 02:48] ardunn opened #454 "[Primitive]ToOxid[Primitive] conversions are slow"
Classes such as CompositionToOxidComposition and StructureToOxidStructure are quite slow.

For example, adding oxidation states to compositions in "matbench_expt_gaps" which is ~4k samples is taking 20+ minutes on my laptop... there are also frequent parallelization problems where the conversion will just freeze, especially on larger datasets.

I understand this is based on the pymatgen methods, e

[2020-05-04 02:49] ardunn commented on #453
Hah! Probably so. But the times change and so should we.

Ok so sounds like the consensus is to move it to another repo.

[2020-05-04 06:18] ardunn opened #455 "Add conversions for arbitrary pymatgen composition/structure/etc"
The BaseFeaturizer syntax is pretty convenient for applying transformations to pymatgen objects, (e.g., converting compositions to/from strings), but it might be pretty useful to have these conversions work for any Composition/Structure method.

For example, if you want to convert a huge, error-prone df of compositions to compositions with integer subscripts and anonymized formulas, you could do s

[2020-05-04 16:15] computron commented on #453
Yes you can consider moving to another repo as "approved"

[2020-05-04 18:25] utf commented on #454
We have a way to speed up the oxidation state guessing in automatminer:

https://github.com/hackingmaterials/automatminer/blob/c7b0251e22a6213eb61b5b0e9e8646d47f17c349/automatminer/featurization/core.py#L589-L594

In particular, the `max_sites=-50`, means it will try and reduce the composition to the minimum number of sites. The full docstring is:

[code]

I think we already tested and 50 sites gi

[2020-05-05 01:03] ardunn commented on #454
That seems sensible to me.

Even with that default, the Structure to oxid structure suffers from a similar problem. And both are prone to "freezing" on large dataframes

[2020-05-05 15:37] computron commented on #454
Is the freezing related to the max_sites or unrelated? e.g., if you set max_sites to -10, does it still freeze? Or does the freezing not happen at that point?

[2020-05-27 03:09] ardunn opened #479 "Add presets to soap featurizer and include structure featurizer"
based on discussion in #428

[2020-05-27 04:21] ardunn commented on #372
this was fixed previously, I'm assuming by @utf

[2020-05-27 04:21] #372 closed

[2020-05-27 04:23] ardunn commented on #372
was done in #441

[2020-05-27 04:58] ardunn commented on #340
This is a simple artifact of pandas thinking NaN is the same as "nan" = "not a number"

NaN in this context is just literally sodium nitride lol

https://materialsproject.org/materials/mp-1080032/
https://materialsproject.org/materials/mp-1009221/

AKA there are no nonsense formulas in the df. This issue is closed

[2020-05-27 04:58] #340 closed

[2020-05-27 05:01] ardunn commented on #341
Not needed, was mainly an artifact of #340

[2020-05-27 05:01] #341 closed

[2020-05-28 23:37] ardunn commented on #330
First one is done, second one doesn't seem like it is something which is typically done in python development.

[2020-05-29 01:41] #330 closed

[2020-05-29 01:41] #379 closed

[2020-05-29 01:41] #403 closed

[2020-05-29 01:41] #408 closed

[2020-05-29 01:45] ardunn commented on #246
Old issue, was closed by #246

[2020-05-29 01:45] #246 closed

[2020-06-26 22:35] ardunn commented on #454
https://matsci.org/t/tips-on-reducing-computation-time/4457/5?u=ardunn

[2020-06-30 15:50] CompRhys opened #494 "cohesive_energy unit tests fail on CI platform but not locally"
No changes made to `cohesive_energy` and `cohesive_energy_MP` but tests for it fail on CI despite not failing on my local machine when I run `source dev_scripts/run_circleci_tests.sh`. From `Dependabot` it appears as though it didn't fail up until 22 days ago

Example of failure:
[code]

[2020-07-01 20:03] ardunn commented on #494
Hey Rhys, thanks for bringing this to our attention. I'll fix this. Don't worry if this is the only test is failing for your PR's CI!

[2020-07-08 00:59] #494 closed

[2020-07-10 03:18] ardunn commented on #257
previously fixed by #260 and following 2018 GRDF PRs

[2020-07-10 03:18] #257 closed

[2020-07-21 16:06] janosh opened #503 "Type stubs"
What's your take on shipping [type stubs](https://mypy.readthedocs.io/en/stable/stubs.html)? This would help modern code analysis tools such as [Pylance](https://devblogs.microsoft.com/python/announcing-pylance-fast-feature-rich-language-support-for-python-in-visual-studio-code/) do a better job and as a result make it easier for end users to work with `matminer`.

Specifically, it would prevent i

[2020-07-21 20:25] ardunn commented on #503
Hey @janosh great idea!

BaseFeaturizer should indeed be ABC. Not sure why it never was.

I'm also a fan of inline type-hinting (much of which matminer is missing, just because no one has gone through and done it). I'm not fully convinced about stub files though, from a maintainability perspective... mainly mismatching outputs between featurizers in .py files and their stubs in .pyi.

And yes, PRs

[2020-07-21 20:51] WardLT commented on #503
Yea, using ABC would be excellent! I second @ardunn and would be happy to help review a PR!

[2020-07-22 06:07] janosh commented on #503
Thanks for your offers to review.

@ardunn To be honest, I also prefer inline type hints.

[2020-07-23 17:44] computron commented on #503
I see this is closed already, but just wanted to mention that:

- yes, the abc decorators should have already been there, thanks for catching this and offering to add them!
- as discussed by others, I prefer inline versus type stub files, as the former is easier to keep synced and maintain. We've dropped Py2 support since the underlying libraries of matminer (e.g., pymatgen) no longer support Py2

[2020-07-23 19:31] janosh commented on #503
Oops, closing must have happened by mistake.

[2020-07-24 03:53] ardunn commented on #420
Hey @lauri-codes, do you happen to have any code containing matminer's implementaiton of SOAP (or even just dscribe) which demonstrates the features as useful for prediction? I have tried them on a few thermodynamic and vibrational properties without much luck.

[2020-07-24 03:57] ardunn commented on #420
@lauri-codes In particular, SOAP averaged over entire structures - similar to the experiment you guys report on the dscribe paper?

[2020-07-24 09:21] lauri-codes commented on #420
Hi @ardunn,

Here is a small script that demonstrates the kind of learning curve that we also observe in the paper:
[code]

This can be run in 5 minutes on a local machine. The learning setup is very simple but should demonstrate the proper learning curve. The dataset you can download from [FigShare](https://figshare.com/collections/Supplementary_datasets_for_DScribe_Library_of_Descriptors_for_Mac

[2020-07-24 22:19] ardunn commented on #420
Awesome thank you @lauri-codes

[2020-07-27 15:57] computron opened #512 "add in implementors, citations after merging PR 504"
See discussion at:

https://github.com/hackingmaterials/matminer/pull/504

[2020-07-28 17:52] #512 closed

[2020-07-30 17:14] utf opened #514 "Wrong hash for dataset"
[code]

Gives:
[code]

Other matbench datasets work. @ardunn

[2020-07-30 18:49] ardunn commented on #514
So I set up a new venv to specifically test this, and I can't reproduce (i.e., it works for me) using the version cloned from GH. Are you using a version from PyPi? Two of the hashes were recently updated and a new matminer version has not been released since then, meaning the latest pypi version and the real datasets are out of sync, and will be until a new version is released.

[2020-07-30 18:53] ardunn commented on #514
# Setting up the environment
[code]

# Getting the dataset
[code]

[2020-07-30 18:56] utf commented on #514
Interesting, I now can't reproduce in a fresh VM, however, the issue is on my local machine, and also on CoCalc where we are running the MP workshop. Will close for now.

[2020-07-30 18:56] #514 closed

[2020-07-30 19:36] ardunn commented on #514
I'm not entirely sure how CoCalc works as far as file storage/versioning, but is the hash on cocalc the same as in the repo? If not ,I'd say just copy it over from the repo to Cocalc and call it a day (though this may be tipping you off that the cocalc version is lagging the bleeding edge somewhat)

[2020-08-10 20:55] ardunn opened #520 "Add delta G descriptor"
https://www.nature.com/articles/s41467-018-06682-4

https://github.com/CJBartel/predict-gibbs-energies/blob/master/PredictG.py

[2020-09-24 13:44] dependabot-preview[bot] opened #533 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/hackingmaterials) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/hackingmaterials/update-logs/48611548).

[2020-09-25 13:36] #533 closed

[2020-11-11 01:04] ardunn opened #546 "Add descriptors from Oliynik et al"
original paper: https://pubs.acs.org/doi/10.1021/acs.chemmater.6b02724

Table can be found https://github.com/rynmurdock/domain_knowledge/blob/master/data/element_properties/oliynyk.csv

[2020-12-24 13:37] CompRhys opened #563 "Is there a place for the element movers distance in matminer?"
This recent paper https://doi.org/10.1021/acs.chemmater.0c03381 looks at using the earth-movers-distance weighted by the difference between weights on the modified pettifor scale as a metric for inorganic materials. A pure python implementation is available here: https://github.com/lrcfmd/ElMD.

With some testing I have found that using the `emd2` function from https://github.com/PythonOT/POT is 5

[2020-12-24 13:51] CompRhys opened #564 "Restructure repo for increased readability"
In #470 I ended up starting to refactor the package structure such that a featurizer based on roost could be added more cleanly. I changed my mind about whether or not roost could be cleanly added as a featurizer but was wondering if the refactoring into smaller files is still something that might be worth following up on.

Top level inputs for the brokendown files were sbeing done in the `__init_

[2020-12-27 17:40] #503 closed

[2021-01-04 12:00] #563 closed

[2021-02-27 07:37] ardunn opened #587 "aflow test no longer passing"
see **https://matsci.org/t/http404-aflowdataretrieval-request/34988/2**

[2021-02-28 06:07] ardunn opened #588 "add progress bar for loading/dowloading datasets"
The larger datasets such as "matbench_mp_e_form" can take like 10 minutes to download. There should be a simple ASCII/unicode-esque progress bar for all downloads to show progress so users don't think it isn't working

[2021-04-01 18:59] janosh opened #606 "F. Ricci et al. Electronic Transport Properties available through load_dataset()?"
Is the [MPContrib Electronic Transport dataset](https://contribs.materialsproject.org/projects/carrier_transport) available via `matminer`?

This

[code]

prints

[code]

So I'm guessing not? If so, curious to know why.

Also, I'd like to suggest adding a short code block to each MPContrib detail page showing how to download it. E.g.

[2021-04-01 19:07] ardunn commented on #606
Hey @janosh

Currently the full data is not available through matminer, though if @tschaume wants to make a matminer-loadable static .json.gz of it available, I'd be glad to add it to matminer.

There is an abbreviated version of it: https://hackingmaterials.lbl.gov/matminer/dataset_summary.html, `boltztrap_mp` available in matminer. The following columns are available:

![image](https://user-imag

[2021-04-02 06:06] janosh commented on #606
@ardunn Thanks for the quick reply! Do you have any information on how the 8,924 entries were selected from the 44,333 listed in the full dataset at https://contribs.materialsproject.org/projects/carrier_transport?

[2021-04-03 02:28] ardunn commented on #606
I believe the ~9k entries were from a previous run

On Thu, Apr 1, 2021 at 11:06 PM Janosh Riebesell ***@***.***>
wrote:

[2021-04-03 03:23] tschaume commented on #606
@janosh @ardunn I do have different versions of a potential `.json.gz` files we could use to link the full dataset up to matminer. I'll make them available at a persistent link in MPContribs and report back here by Monday (hopefully).

[2021-04-14 23:32] tschaume commented on #606
@janosh @ardunn There's a JSON file for download now at https://contribs.materialsproject.org/projects/carrier_transport.json.gz (12.5MB). It reflects the format of the contributions as they go into the MPContribs API and does not include the temperature- and doping-level dependent tables. Happy to iterate if it isn't a suitable format to link up to matminer. FYI  @fraricci

[2021-04-15 11:57] janosh commented on #606
Thanks a lot @tschaume! 👍

I'm guessing for addition to `matminer` it should be in a format ready for data mining. So probably not have `dtype` `object` (i.e. strings) for target columns but floats.

Here's a version of the dataset as we would use it with models like CGCNN: https://github.com/janosh/matbench/commit/df3831319599b9aa3768dd5f97fdac5ab94bdc37.

[2021-04-15 16:01] janosh commented on #606
What's the meaning of `.v` in these columns?

[code]

[2021-04-15 16:43] janosh commented on #606
Ah. [From here](https://contribs.materialsproject.org/projects/carrier_transport):

[2021-04-16 00:48] ardunn commented on #606
Thanks @janosh and @tschaume . I will add these to the metadata at the same time that I add Ryan Kingsbury's updated expt_gaps and _formation_enthalpy datasets. The columns will be casted to the correct dtypes before uploading as well.

[2021-05-21 14:18] janosh opened #622 "Progress bar option for load_dataframe_from_json and store_dataframe_as_json"
Would be cool especially for large files if `load_dataframe_from_json` and `store_dataframe_as_json` both had a `pbar: bool = False` option that would display a progress bar while reading/writing to disk.

[2021-05-25 12:45] shyuep opened #623 "New release"
The current version of Matminer does not appear to be compatible with latest pymatgen due to the use of core imports. This has been fixed in the master branch. Pls release a new version.

[2021-05-29 06:54] ardunn commented on #606
@janosh @tschaume I wound up using the `carrier_transport_with_strucs.json.gz` that @janosh referenced earlier. Unfortunately the file currently hosted on mpcontribs has a pesky `data` column which is not super easy to use, so the raw json.gz has been uploaded to figshare (https://figshare.com/articles/dataset/ricci_boltztrap_mp_tabular/14701110) in the meantime.

## Notes for @janosh
The `*_struc

[2021-05-29 07:31] #606 closed

[2021-05-29 07:32] ardunn commented on #623
I will fix this, tests must be fixed first

There will be a storm of upgrades during this week

After it is complete, @computron can release new version

[2021-05-29 07:36] ardunn opened #629 "Docs need to be updated for readability/links"
Going to main docs page, it is hard to find important, information dense pages like the Table of Featurizers or the Dataset Summary page

![Screen Shot 2021-05-29 at 12 33 36 AM](https://user-images.githubusercontent.com/19936203/120062196-b648c280-c015-11eb-9a99-2a793e7046e2.png)

![Screen Shot 2021-05-29 at 12 34 08 AM](https://user-images.githubusercontent.com/19936203/120062198-b8128600-c015-1

[2021-05-29 18:32] janosh commented on #606
@ardunn Oops! I wasn't using those columns but very good thing you noticed. Thanks for making the data easily available through `matminer`! 😅

[2021-06-06 21:37] ardunn commented on #622
@janosh this will be taken care of in #634

[2021-06-07 07:30] ardunn commented on #564
The actual restructuring looks similar but with slightly different groupings for featurizers

[code]

thanks for the inspiration @CompRhys !

As far as RooSt in matminer goes, I think we will be adding a separate `models` module more tailored towards using a variety of graphnet models easily, rather than cramming it in with structure featurizers. RooSt will surely be one of them.

[2021-06-07 23:24] ardunn opened #635 "Upgrades Living Document - Featurizers"
## Delta G descriptor
###### Originally from #520
- https://www.nature.com/articles/s41467-018-06682-4
- https://github.com/CJBartel/predict-gibbs-energies/blob/master/PredictG.py

#

[2021-06-07 23:24] ardunn commented on #520
superseded by #635

[2021-06-07 23:24] #227 closed

[2021-06-07 23:24] #390 closed

[2021-06-07 23:24] #564 closed

[2021-06-07 23:24] #587 closed

[2021-06-07 23:24] #623 closed

[2021-06-07 23:25] #232 closed

[2021-06-07 23:25] #253 closed

[2021-06-07 23:25] #255 closed

[2021-06-07 23:25] #262 closed

[2021-06-07 23:25] #300 closed

[2021-06-07 23:25] #378 closed

[2021-06-07 23:25] #420 closed

[2021-06-07 23:25] #453 closed

[2021-06-07 23:25] #479 closed

[2021-06-07 23:25] #588 closed

[2021-06-07 23:25] #622 closed

[2021-06-07 23:25] #629 closed

[2021-06-07 23:25] #142 closed

[2021-06-07 23:25] #388 closed

[2021-06-07 23:25] #455 closed

[2021-06-07 23:27] ardunn commented on #546
superseded by #635

[2021-06-07 23:27] #546 closed

[2021-06-07 23:28] ardunn commented on #435
Superseded by #635

[2021-06-07 23:28] #435 closed

[2021-06-07 23:30] ardunn commented on #344
superseded by #635

[2021-06-07 23:30] #344 closed

[2021-06-07 23:36] #520 closed

[2021-06-07 23:37] ardunn commented on #335
superseded by #335

[2021-06-07 23:37] #335 closed

[2021-06-07 23:39] ardunn commented on #256
superseded by #635

[2021-06-07 23:39] #256 closed

[2021-06-07 23:41] ardunn commented on #241
superseded by #635

[2021-06-07 23:41] #241 closed

[2021-06-07 23:42] ardunn commented on #205
superseded by #635

[2021-06-07 23:42] #205 closed

[2021-06-07 23:49] ardunn commented on #91
superseded by #635

[2021-06-07 23:49] #91 closed

[2021-06-07 23:51] ardunn commented on #213
these are all fixed  by #634

[2021-06-07 23:51] #213 closed

[2021-06-07 23:52] #377 closed

[2021-06-07 23:52] ardunn commented on #282
superseded y #635

[2021-06-07 23:52] #282 closed

[2021-06-08 00:05] ardunn opened #636 "Upgrades Living Document - Datasets"
## Cubic crystal compounds
- paper https://journals.aps.org/prmaterials/abstract/10.1103/PhysRevMaterials.5.063802
- link: https://materialsdata.nist.gov/handle/11256/994

[2021-06-08 00:27] ardunn opened #637 "Upgrades Living Document - Data Retrieval"
## OQMD
 - http://oqmd.org/api/

## Materials Cloud
- https://www.materialscloud.org/home
- I can't figure out if they actually have an API though...?

[2021-06-08 00:50] ardunn opened #638 "Multiprocessing Freezing"
high n_jobs or even low n_jobs when individual processes hog memory/compute will cause entire featurizations to hang indefinitely

this has been a massive problem forever and has downstream consequences in automatminer

[2021-06-08 11:21] CompRhys commented on #445
https://github.com/gomes-lab/H-CLMP is the link for the CLMP model

[2021-06-08 19:50] ardunn commented on #445
Thanks @CompRhys, I think RooSt will be a great addition to matminer.

The way i am considering implementing this `models` module is something like this, for each external package we want to use:

[code]

Each model has a directory.
* Main.py holds classes which implement simple methods for predicting/getting embeddings for every single model.
    - something like `class RoostModel(BaseModel)`, wh

[2021-06-08 22:13] ardunn commented on #443
@computron might be worth trying new conda version as well, now that matminer dependencies hell have been updated

[2021-06-10 08:32] CompRhys commented on #445
I've been thinking about this a little bit more and I think the most effective way to quickly add structure-based graphnets to matminer will be to wrap https://github.com/Open-Catalyst-Project/ocp/tree/master/ocpmodels/models - this way matminer would have access to more models for free as the OCP benchmarking suite is expanded over time. I would say the only issue you might have with this is that

[2021-06-10 12:03] janosh opened #640 "add decoder kwarg in load_dataframe_from_json"
Thanks for the new `pbar` option. Very useful!

I'd like to suggest adding another kwarg to `load_dataframe_from_json` to control the decoder. Sometimes, you just need access to columns in a stored dataframe containing primitive values. Decoding objects is of no use in that case and adds significant overhead.

Could look like this:

[code]

On a dataframe with ~40k structures, I get close to 7x sp

[2021-06-14 13:41] utf commented on #622
is there a reason why the pbar is enabled by default? I use these functions in a lot of places where a progress bar is unexpected.

[2021-06-14 15:38] ardunn commented on #622
@utf there is no reason besides making it easier for people who have never loaded a big dataframe from/to json to see what is going on. I am ok with changing it

[2021-06-14 15:38] ardunn commented on #640
Sounds good, will do this

[2021-06-14 15:49] ardunn opened #646 "Need local test to run on package on release before being uploaded to pypi"
Based on issue #644 with most recent release missing the .yaml file because the directory structure changed, we should have an automated way of checking the packaged distribution (uploaded to pypi) will pass all tests.

@utf do you know if there is a standard way to test the package to-be-distributed?

I think @computron has his own workflow for releasing matminer as I don't see any `twine` comman

[2021-06-14 16:11] #640 closed

[2021-06-16 18:43] janosh opened #648 "store_dataframe_as_json dropping index name"
This minimal example demonstrates an issue I've been having with `store_dataframe_as_json`: it doesn't preserve index names (which is important in cases where you need to reset the index and refer to it by column name to use it as input to some task):

[code]

Happy to help with a PR for this if you agree this should be changed.

[2021-06-17 02:46] ardunn commented on #648
@janosh yes this should be fixed, thanks for bringing this to attention! If you have a code snippet solving this right away please PR!

Also we must update the test to specifically test for this

[2021-06-17 09:02] janosh commented on #648
I haven't found a great solution yet, unfortunately. If you look at the result for all possible values of `orient` in `pd.DataFrame.to_dict(orient=str)`, this is what you get:

[code]

[code]

The only one option that stores the index name is `orient="series"` which (despite the name) is of course not JSON-serializable (excuse the pun). So not sure what options that leaves. Perhaps the least hacky

[2021-06-22 23:23] ardunn commented on #648
@janosh I am hesitant to add more complex logic to the store_dataframe, its already almost too overly complicated.

I think the best solution to your problem would be to use pandas `.to_hdf` and `.read_hdf`:

Here's an example of writing a structure-containing df with named index to hdf, then loading it back.

The objects are automatically loaded via pickle using pandas hdf; so it is not quite as

[2021-06-22 23:23] #648 closed

[2021-06-23 09:29] janosh commented on #648
I understand your reason for closing. Thanks for pointing me at `pandas.{read|to}_hdf`. Will give it a try. Curious how the storage requirements compare to zipped JSON.

Too bad pandas decided not to store index names in `.to_json(orient='split')`...

[2021-06-26 00:47] shyamd commented on #646
When you run the install in the workflow don't use an editable install. That will fix this as it forces the full setup.py to run and actually build the `MANIFEST` and copy files over.

[2021-06-28 09:37] utf commented on #646
Would it be possible to release a new version? The one on pypi is still broken.

[2021-06-28 21:29] jdagdelen opened #653 "Should pymongo actually be a requirement for matminer?"
I have looked through the repo tree and it is never actually imported anywhere. Maybe this is left over from a previous version?

@ardunn @computron

[2021-06-29 03:11] ardunn commented on #653
That's a good point. It was originally in there to support this file:

https://github.com/hackingmaterials/matminer/blob/main/matminer/data_retrieval/retrieve_MongoDB.py

Getting data from arbitrary mongodbs (e.g., some custom atomate db) to a dataframe. I guess it is not technically _required_ to import or even test the package. I may change that to make the tests more complete (given CI can run

[2021-06-29 03:12] ardunn commented on #646
Thanks @shyamd I will try this

[2021-06-29 05:35] #646 closed

[2021-06-29 05:35] #653 closed

[2021-06-30 18:22] ardunn commented on #443
fixed as of 0.7.3

[2021-06-30 18:22] #443 closed

[2021-07-22 14:14] janosh opened #670 "load_dataframe_from_json fails on MultiIndex"
I just noticed there's a problem with `load_dataframe_from_json` when trying to load multi-index dataframes.

[code]

That's because pandas doesn't support passing in a list of lists in as a multi-index. Instead you have to create a `MultiIndex` object first and pass that in

[code]

So one possible fix would be

[code]

[2021-09-03 03:16] zcb-code opened #688 "How to create dataset by users?"
Matminer has an excellent performance in predicting mechanical properties. But in the example, the data set is loaded from website, not prepared by users. I want to know, how to prepare the training and predicting data sets? Is there any examples?

[2021-09-04 07:33] ardunn commented on #688
Hi @zcb-code

First, for things not related to development of matminer, please post questions to the [MatSci forum](https://matsci.org/c/matminer/16). For further responses from me plz post your question there!

---
To answer your question:

On the matminer-examples repo, you can find examples of how to use matminer to create your own datasets by pulling from online repostories such as the materia

[2021-09-04 07:33] #688 closed

[2021-10-11 04:32] ardunn opened #702 "Fix MDF Forge tests"
can't anonymously call the forge api

[2021-10-14 10:18] CompRhys opened #708 "Recomputing the Voronoi Tessalation Repeatedly"
I am trying to compare a new model to the ward-voronoi features on ~300k materials. Looking into the code it appears that each sub-featurizer of the feature set recalculated the voronoi tessalation itself. This means that the code runs ~5x slower than it might otherwise do.

I might be missing something but is there anyway that this can be restructured to allow or pre-computation? i.e. avoid calli

[2021-10-14 14:05] #708 closed

[2021-10-19 21:08] ardunn commented on #708
@CompRhys do you have any ideas about how to implement this in pymatgen? or is there already a ticket open on pmg repo?

[2021-11-29 21:04] ardunn commented on #702
@WardLT IIRC you were quite knowledgeable about MDF, any ideas for why the Forge API might be acting up?

[2021-12-01 15:39] WardLT commented on #702
There's been a significant number of changes to this API over time. I'm not sure whether it is changes in authentication, the query structure or something. But, I'll take a look to figure it out.

[2021-12-03 06:13] ardunn commented on #702
@WardLT ok sounds good! Let me know if I can be of any help!

[2021-12-10 05:00] ardunn opened #740 "pip installs cannot import DensityFeatures"
[code]

From https://matsci.org/t/strange-error-in-densityfeatures-import/36274

[2021-12-10 21:44] janosh opened #741 "store_dataframe_as_json infer compression from filename"
Could we make `store_dataframe_as_json` infer the compression keyword arg from the filename is not explicitly specified?

[code]

[2022-01-06 19:25] #741 closed

[2022-01-13 05:21] #638 closed

[2022-01-13 05:27] ardunn commented on #636
See also https://github.com/materialsproject/matbench/issues/2

[2022-01-13 05:41] ardunn commented on #336
This was fixed by setting a more sensible default chunksize in #736

[2022-01-13 05:41] #336 closed

[2022-01-13 05:44] ardunn opened #764 "Conda install broken because of optional dscribe dependency being force installed on conda"
See:
- https://github.com/conda-forge/matminer-feedstock
- https://matsci.org/t/conda-install-broken/3427/26?u=ardunn

[2022-01-13 06:00] #454 closed

[2022-01-13 14:06] jacksund commented on #764
@ardunn Thanks for opening this! I'm now helping maintain the matminer feedstock and have already fixed this issue [here](https://github.com/conda-forge/matminer-feedstock/pull/16). Still, I'll need to update the new dependencies that you just changed. Will you be making a new pypi release for these changes?

[2022-01-13 17:33] ardunn commented on #764
Hey @jacksund yes I think we will! I still want to fix #740 before we make a new version but after that (should be today) we can make a new version and you can update the feedstock. Thanks again for the work in maintaining the conda install!

[2022-01-13 17:33] ardunn commented on #764
I'll update this thread and tag you when we release a new version @jacksund

[2022-01-13 19:53] ardunn commented on #740
this is resolved now, was a previous problem with pymatgen

[2022-01-13 19:53] #740 closed

[2022-01-24 18:39] ardunn opened #770 "Optional dependencies do not work on 3.10.1"
Due to dscribe's downstream requirements

See https://github.com/SINGROUP/dscribe/issues/79

[2022-01-24 18:40] ardunn commented on #764
@jacksund We have released a new version of matminer, might be worth checking the feedstock again to see if any problems come up

[2022-01-24 18:40] #764 closed

[2022-01-24 18:43] jacksund commented on #764
@ardunn sorry, I forgot to respond to this earlier. But the update versions are available on conda-forge and everything looks good when installing them :+1:

[2022-03-02 23:29] lensonp opened #785 "JarvisCFID numpy array handling error"
I tried to submit to the discourse forum, but the link given here appears to be broken.

matminer==0.7.6
pymatgen==2022.1.24
numpy==1.22.1

Running JarvisCFID for a bunch of materials, I am seeing a fair number of crashes due to these:
[code]

It does crash the featurization, and the resulting stack trace is something like this:
[code]
... finally, here is an example pymatgen structure that throws

[2022-03-03 01:44] ardunn commented on #785
Hi @lensonp

I've fixed the link on the readme, thanks for pointing it out!

Could you provide a structure file that this happens for? Or does it happen for all the structures you try?

[2022-03-03 02:10] lensonp commented on #785
Well, I couldn't attach a .json file, so I gave the text of the .json above. You would have to save it to a .json file to test it by the script I posted there. That particular json represents Materials Project record mp-1211143.

I'm running this featurizer on a large collection of materials- the failures aren't an issue for me but I thought you'd like to know. From the error message, it seems lik

[2022-03-15 04:26] CompRhys commented on #636
https://zenodo.org/record/5530535 I was recently able to get the permissions to upload this publicly for some of our work. Potentially of interest - the data is 3 highly sampled phase diagrams including a lot of unstable structures. I uploaded both the initial (from prototyping) and relaxed structures. The authors refer to it as the TAATA data set.

[2022-03-16 23:50] ardunn commented on #636
@CompRhys this is great! Can we upload this to our figshare as well, in a different form (one big df with all systems in it?)

If not, will that zenodo link always be available? If so, we still add it as a dataset

[2022-03-16 23:58] CompRhys commented on #636
Zenodo is a different permanent archive service that will always exist as long as CERN exists so you can use the zenodo links safely. However I got permission to share with MIT so whatever makes sense is allowed. If you want to combine them into a single data set just note that there are some duplicated materials found in all 3 phase diagrams that should be removed - they have the same `ht_id`.

[2022-03-18 03:01] ardunn commented on #636
BTW @CompRhys this is an excellent and somewhat unique dataset. Shame the band gaps and tensors for all the compounds weren't included but still. I think this has the potential to be a difficult and interesting problem in matbench eventually, so I'll be adding it to the living document on that repo as well